<div class="flix-container flix-container-padded">
  <div class="row">
    <div class="col-sm-12">
      <h3>User Management</h3>
    </div>
  </div>
  <div class="row" *ngIf="loggedInAsAdmin">
    <div class="col-sm-8">
      <app-user-list [users]="users"
                     (userSelectionChange)="onUserSelectionChange($event)">
      </app-user-list>
    </div>
    <div class="col-sm-4">
      <app-user-form [selectedUser]="selectedUser"
                     [currentUser]="currentUser"
                     [users]="users"
                     (userListChange)="onUserListChange($event)">
      </app-user-form>
    </div>
  </div>
  <div class="row" *ngIf="!loggedInAsAdmin">
    <div class="col-sm-12">
      You do not have admin rights to access this page.
    </div>
  </div>
</div>
