@import '../../sass/variables';

.dropdown-container {
  padding: 0;
  position: fixed;
  z-index: 100;
  margin-top: -17px;

  /deep/ .dropdown button.dropdown-toggle {
    border: none;
    font-weight: bold;
    padding: 0.2rem;
    width: 1.8rem;
    color: $light-grey;

    &:hover {
      color: $white;
    }
  }

  /deep/ .dropdown, .dropdown-menu {
    z-index: 3;
    padding: 0;
  }

  /deep/ .dropdown-menu {
    // This is to override what appears to be a bug with the clarity dropdown component opening with incorrect x position
    // transform: translateX(-412px) translateY(39px)!important;

    min-width: 360px;
    max-width: 480px;
    min-height: 120px;
    max-height: 220px;

    .dropdown-item {
      padding: 0;
      height: inherit;
    }

    .datagrid {
      margin-top: 0;
      max-width: 470px;

      .created-col {
        min-width: 130px;
        width: 130px;
      }

      .owner-col {
        min-width: 100px;
        width: 100px;
      }

      .dialogue-text-col {
        max-height: 3rem;
        overflow: hidden;
        white-space: normal;
      }
    }
  }
}
