<flx-rich-text-editor
  #textEditor
  [error]="errorMessage"
  [changeTextboxHeightStream]="changeTextboxHeightStream"
  [spellcheck]="true"
  [(ngModel)]="dialogueMarkup"
  [editable]="editable"
  [maxCharacterCount]="200"
>
<div class="dropdown-container">
  <clr-dropdown [clrCloseMenuOnItemClick]="true" #historyDropdown>
    <button title="Dialogue History" type="button" (click)="getDialogueHistory()" clrDropdownTrigger>
      <clr-icon shape="history"></clr-icon>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
      <clr-datagrid class="publish-history-grid datagrid-compact">
        <clr-dg-placeholder>No dialogue history</clr-dg-placeholder>
        <clr-dg-column class="created-col">Created By</clr-dg-column>
        <clr-dg-column class="owner-col">Revised By</clr-dg-column>
        <clr-dg-column class="datagrid-cell-gutter-right dialogue-text-col">Text</clr-dg-column>
        <clr-dg-row *ngFor="let dialogue of currentPanelDialogueHistory | orderDialoguesByDate" (click)="revertFromHistory(dialogue)" clrDropdownItem>
          <clr-dg-cell class="created-col">{{dialogue.createdDate | date:'dd-MM-yyyy HH:mm'}}</clr-dg-cell>
          <clr-dg-cell class="owner-col">{{dialogue.owner.username}}</clr-dg-cell>
          <clr-dg-cell
            class="datagrid-cell-gutter-right dialogue-text-col"
            [innerHTML]="dialogue.text">
          </clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
</flx-rich-text-editor>
