<clr-modal [clrModalClosable]="false" [(clrModalOpen)]="display" [clrModalSize]="'sm'" (clrModalOpenChange)="currentAlert.confirm()" *ngIf="display">
  <h4 class="modal-title">Reconnecting to Flix</h4>
  <div class="modal-body">
      <div class="progress loop"><progress></progress></div>
      <p>Please wait...</p>
  </div>
</clr-modal>
