$id-column-width: 60px;
$publish-column-width: 120px;

:host {
  .id-column {
    min-width: $id-column-width;
    width: $id-column-width;

    // https://github.com/vmware/clarity/issues/1262
    // css hack/fix to position filter popout
    /deep/ clr-dg-filter .datagrid-filter {
      transform: translateX(0) translateY(130px) !important;
    }
  }

  .publish-column,
  .import-column {
    min-width: $publish-column-width;
    width: $publish-column-width;
    text-align: center;
  }

  input[type=text].list-filter {
    margin-right: 1rem;
    min-width: 30%;
  }
}
