<div class="flix-container flix-container-padded">
  <div class="page-header">
    <div class="btn-group">
      <button title="Open Editorial workspace" (click)="navigateToEditorial()" class="btn">
        <clr-icon shape="film-strip"></clr-icon>
        <span>editorial</span>
      </button>
      <button title="Create a clean revision" (click)="navigateToCleanRevision()" class="btn" data-test-id="revision-clean-revision">
        <clr-icon shape="plus"></clr-icon>
        <span>clean version</span>
      </button>
    </div>
    <h3>Revisions</h3>
  </div>
  <div class="content">
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-placeholder>No Revisions for this Sequence exist.</clr-dg-placeholder>
      <clr-dg-action-bar>
        <list-filter></list-filter>
      </clr-dg-action-bar>
      <clr-dg-column [clrDgField]="'id'" class="id-column">#</clr-dg-column>
      <clr-dg-column [clrDgField]="'owner.username'">User</clr-dg-column>
      <clr-dg-column [clrDgField]="'createdDate'">Date</clr-dg-column>
      <clr-dg-column [clrDgField]="'comment'">
        Comment
      </clr-dg-column>
      <clr-dg-column class="publish-column">To Editorial</clr-dg-column>
      <clr-dg-column class="import-column">From Editorial</clr-dg-column>

      <clr-dg-row *clrDgItems="let revision of revisions | filter : listFilter.keyword : ['owner.username', 'comment']" [clrDgItem]="revision">
        <clr-dg-cell class="id-column" [routerLink]="getWorkspaceUrl('workspace', revision.id)">{{ revision.id }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getWorkspaceUrl('workspace', revision.id)">{{ revision.owner.username }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getWorkspaceUrl('workspace', revision.id)">{{ revision.createdDate | date:'medium' }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getWorkspaceUrl('workspace', revision.id)">
          <clr-tooltip>
            <em clrTooltipTrigger>{{ revision.comment || '--' | slice:0:50 }}</em>
            <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
              <span class="tooltip-content">{{ revision.comment || '--' }}</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </clr-dg-cell>
        <clr-dg-cell class="publish-column" [routerLink]="getWorkspaceUrl('workspace', revision.id)">
          <clr-icon *ngIf="revision.published" shape="success-standard" class="is-solid"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell class="import-column" [routerLink]="getWorkspaceUrl('workspace', revision.id)">
            <clr-icon *ngIf="revision.imported" shape="success-standard" class="is-solid"></clr-icon>
          </clr-dg-cell>
        <clr-dg-action-overflow>
          <button (click)="edit(revision)" class="action-item">Edit</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <clr-dg-footer>{{ revisions.length }} sequence revisions</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
<flix-revision-browser-form [showId]="showId" [sequenceId]="sequenceId" [episodeId]="episodeId" (onSave)="refresh()"></flix-revision-browser-form>
