<div class="container-fluid">
    <p class="no-panels" *ngIf="selectedPanels.length == 0">No selected panels.</p>
    <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="selectedPanels.length > 0">
    <table *ngIf="selectedPanels.length > 0" class="table table-vertical">
        <tbody>
            <tr *ngIf="!selectedPanels[0].isAnimated()">
                <th>Duration</th>
                <td>
                    <input type="number" id="frameCount" formControlName="frameCount" [attr.placeholder]="selectedPanelDuration" />
                    <div class="alert alert-danger alert-sm" *ngIf="form.controls.frameCount.invalid">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                              </div>
                              <span class="alert-text">
                                <div *ngIf="form.controls.frameCount.errors.hasOwnProperty('required')">Cannot be empty</div>
                                <div *ngIf="form.controls.frameCount.errors.hasOwnProperty('pattern')">Please enter a whole number</div>
                                <div *ngIf="form.controls.frameCount.errors.hasOwnProperty('min')">Minimum duration is 1</div>
                                <div *ngIf="form.controls.frameCount.errors.hasOwnProperty('max')">Maximum duration is 999</div>
                              </span>
                          </div>
                      </div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="onlyAnimated()">
              <th>Trim Animation</th>
              <td>
                <ion-range-slider (onFinish)="updateAnimation($event)" type="double" [min]="0" [max]="maxFrames()" [step]="1" [from]="trimIn" [to]="trimOut"></ion-range-slider>
              </td>
            </tr>
            <tr *ngIf="selectedPanels[0].owner">
                <th>Artist</th>
                <td>{{ selectedPanels[0].owner.username || "--" }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ selectedPanels[0].createdDate | date:'medium' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td *ngIf="selectedPanels[0].createdDate < selectedPanels[0].revisionDate">{{ selectedPanels[0].revisionDate | date:'medium' }}</td>
                <td *ngIf="!(selectedPanels[0].createdDate < selectedPanels[0].revisionDate)">--</td>
            </tr>
        </tbody>
    </table>
    </form>
</div>


<!-- <div class="form-group" *ngIf="selectedPanels[0].isAnimated()">
    {{ selectedPanels[0].getArtwork().NumFrames() }}
    <label aria-haspopup="true" [ngClass]="{ 'invalid': formModified && form.controls.frameCount.invalid }"
      class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left" role="tooltip">
      Trim
    </label>
    <input type="number" id="trimIn" formControlName="trimIn" />
    <input type="number" id="trimOut" formControlName="trimOut" />
</div> -->
