@import '../../sass/variables';

:host {
  width: 100%;
  padding-top: 12px;

  table {
    margin-top: 0px;
  }

  form {
    margin-top: 0px;
  }

  strong {
    display: block;
    margin-bottom: 12px;
  }
  input {
    width: 100%;

    // always show arrows
    &::-webkit-inner-spin-button { opacity: 1; }
  }
  /deep/ clr-icon {
    cursor: pointer;
  }
  button {
    margin: 24px 0 0;
  }

  .no-panels {
    font-size: 0.5rem;
    margin-top: 10px;
    font-style: italic;
    color: $mine-shaft-lightest;
  }
}
