<div *ngIf="display" class="alert alert-app-level alert-{{ level }}">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon *ngIf="level === 'success'" class="alert-icon" shape="success-standard"></clr-icon>
                <clr-icon *ngIf="level === 'danger'" class="alert-icon" shape="error-standard"></clr-icon>
            </div>
            <div class="alert-text">
                {{ message }}
            </div>
            <div class="alert-actions">
                <button (click)="dismiss()" class="btn alert-action">Dismiss</button>
            </div>
        </div>
    </div>
    <button (click)="dismiss()" type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>
