<clr-modal [(clrModalOpen)]="display" [clrModalSize]="'md'" [clrModalClosable]="true" (clrModalOpenChange)="setupForm()">
  <h3 class="modal-title">Export</h3>
  <div class="modal-body">

    <div class="form-message-wrapper">
      <div *ngIf="errors.length" class="alert alert-danger">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              {{ errors.join(', ') }}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="form.dirty && form.get('tools').hasError('noTickedCheckbox')" class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="alert-text">
              Please select at least one checkbox
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="imported" class="alert alert-success">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">
                Successfully exported
            </span>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="form">
      <!-- radio options -->
      <div class="m-b-30 row">
        <div class="col-md-4">
          <div class="radio">
            <input type="radio"
              class="form-control"
              name="panels"
              formControlName="panels"
              id="allPanels"
              value="allPanels" />
            <label for="allPanels">
              All panels
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio">
            <input type="radio"
              class="form-control"
              name="panels"
              formControlName="panels"
              id="selectedPanels"
              value="selectedPanels" />
            <label for="selectedPanels">
              Selected panels
            </label>
          </div>
        </div>
       </div>
      <!-- checkbox options -->
      <div formGroupName="tools">
        <div class="m-b-10 row">
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="dialogue"
                id="dialogue" />
              <label for="dialogue">Dialogue</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="audio"
                id="audio" />
              <label for="audio">Audio</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="json"
                id="json" />
              <label for="json">JSON</label>
            </div>
          </div>
        </div>
        <div class="m-b-10 row">
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="image"
                id="image" />
              <label for="image">Image</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="artwork"
                id="artwork" />
              <label for="artwork">Original Artwork</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="csv"
                id="csv" />
              <label for="csv">CSV</label>
            </div>
          </div>
        </div>
        <div class="m-b-10 row">
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="quicktime"
                id="quicktime" />
              <label for="quicktime">QuickTime</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <input type="checkbox"
                formControlName="pdf"
                id="pdf" />
              <label for="pdf">Contact Sheet</label>
            </div>
          </div>
        </div>
      </div>
      <div class="m-b-10 row">
        <div class="col-md-12">
          <h4>Directory</h4>
        </div>
      </div>
      <div class="row">
        <div class="tooltip tooltip-validation tooltip-md tooltip-top-left col-md-9" aria-haspopup="true" role="tooltip" [ngClass]="{ 'invalid': form.get('exportDirectory').hasError('required') && form.get('exportDirectory').dirty }">
          <input class="form-control col-md-12" type="text" id="exportDirectory" formControlName="exportDirectory"
            placeholder="Export directory" />
            <span *ngIf="form.dirty && form.get('exportDirectory').hasError('required')" class="tooltip-content">
                <span>Please specify an export directory</span>
              </span>
        </div>
        <div class="col-md-2">
          <file-picker [defaultPath]="exportDirectory" [form]="form" [directory]="true" controlName="exportDirectory"></file-picker>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-space-between">
    <div>
      <button type="button"
        class="btn btn-primary"
        *ngIf="!exportsInProgress"
        (click)="toggleAllCheckboxes()">
        Toggle all
      </button>

      <button type="button"
        class="btn btn-primary"
        *ngIf="!exportsInProgress"
        [disabled]="form.invalid || exportsInProgress"
        (click)="submitForm()"
        [class.btn-success]="form.valid">
        Export
      </button>

      <flix-spinner
        [showSpinner]="exportsInProgress"
        [type]="'spinner spinner-inline'">
      </flix-spinner>
      <span *ngIf="exportsInProgress">Please wait...</span>
    </div>
  </div>
</clr-modal>
