@import "../../sass/variables";

:host {

  .crumb {
    padding: 8px 20px;
    float: left;
    height: 100%;
    cursor: pointer;

    &.active,
    &:hover {
      background: $black;
    }

    &.active {
      pointer-events: none;
      cursor: default;
    }
  }

  .title,
  .content { position: relative; }

  .title {
    font-weight: bold;
    font-size: 16px;
    top: 3px;
  }
  .content {
    font-size: 11px;
    font-style: italic;
    top: -3px;
  }
}
