<!-- Shows Crumb -->
<div title="Goto the show" *ngIf="project.show" (mouseleave)="hideShowsInfo()" (mouseenter)='showShowsInfo()' class="crumb" routerLinkActive="active"
  [routerLink]="getShowCrumbUrl()">
  <div class="title">Show</div>
  <div class="content">{{ project.show.trackingCode || "--" }}</div>
  <popup-panel #showPopup [popupId]="'showPopup'" [popupPosition]="'left'">
    <ng-template>
      <table class="table table-vertical table-no-margin">
          <tbody>
              <tr>
                  <th>Tracking</th>
                  <td>{{ project.show.trackingCode }}</td>
              </tr>
              <tr>
                  <th>Episodic</th>
                  <td>
                    <clr-icon *ngIf="project.show.episodic" shape="check"></clr-icon>
                    <clr-icon *ngIf="!project.show.episodic" shape="times"></clr-icon>
                  </td>
              </tr>
              <tr *ngIf="project.show.episodic">
                  <th>Season</th>
                  <td>{{ project.show.season }}</td>
              </tr>
              <tr>
                  <th>Frame Rate</th>
                  <td>{{ project.show.frameRate }}</td>
              </tr>
              <tr>
                  <th>Aspect Ratio</th>
                  <td>{{ project.show.aspectRatio }}</td>
              </tr>
              <tr>
                  <th>Created Date</th>
                  <td>{{ project.show.created_date | date:'medium' }}</td>
              </tr>
          </tbody>
      </table>

    </ng-template>
  </popup-panel>
</div>

<!-- Episode Crumb -->
<div *ngIf="project.episode" class="crumb" routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }" [routerLink]="getSequencesUrl()">
  <div class="title">Episode</div>
  <div class="content">{{ project.episode.trackingCode || "--" }}</div>
</div>

<!-- Sequence Crumb -->
<div title="Goto Sequence revisions" *ngIf="project.show && project.sequence" class="crumb" routerLinkActive="active"
  [routerLink]="getRevisionsUrl()">
  <div class="title">Sequence</div>
  <div class="content">{{ project.sequence.tracking || "--" }}</div>
</div>

<!-- Sequence Revision Crumb -->
<div *ngIf="project.show && project.sequence && project.sequenceRevision" class="crumb" routerLinkActive="active"
   [routerLink]="workspaceUrl">
  <div class="title">Revision</div>
  <div class="content">{{ project.sequenceRevision.id || 'New' }}</div>
</div>
