<div class="flix-container dialogue-workspace">
  <flix-toolbar [buttons]="topToolbarButtons" (buttonPressed)=toolbarButtonHandler($event)></flix-toolbar>
  <split direction="horizontal" gutterSize="6" *ngIf="project.sequenceRevision" [ngClass]="{'split-overflow-visible' : showDialogueSplitOverflow}">
    <split-area [size]="70">
      <div class="panel-grid" (columnCounter)="updateColumns($event)">
        <div class="panel-row" *ngFor="let panel of project.sequenceRevision.panels; trackBy: trackByFn; let i = index">
          <div class="panel-container h-100"
               [ngStyle]="{'font-size':scale+'px'}">
            <flix-dialogue-panel-card
              [displayMarkers]="false"
              [panel]="panel"
              [scale]="scale"
              [selectionAdditive]="selectionAdditive"
              [selectionInBetween]="selectionInBetween"
              [dialogue]="panel.dialogue">
            </flix-dialogue-panel-card>
          </div>
        </div>
      </div>
    </split-area>

    <split-area [size]="30" [ngClass]="{'split-overflow-visible' : showDialogueSplitOverflow}">
      <div class="dialogue-editor-container">
        <flx-dialogue
          #dialogueComponent
          (onDropdownToggle)="showOverFlowsOnDialogueHistoryOpen($event)"
          [project]="project">
        </flx-dialogue>
      </div>
    </split-area>
  </split>
</div>
