@import '../../../sass/variables';

.panel-grid {
  position: relative;
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.panel-row {
  background: $cod-gray;
  display: flex;
  width: 50%;
  flex-basis: calc(50% - 3px);
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  min-height: 155px;

  &:nth-child(even) {
    margin-left: 5px;
  }
}

.split-overflow-visible {
  //The important is necessary to override inline styles applied by the clarity component
  overflow-x: visible!important;
  overflow-y: visible!important;
}
