<clr-modal [(clrModalOpen)]="display" [clrModalClosable]="true" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">About Flix</h3>
  <div class="modal-body text-center">
    <app-flix-logo></app-flix-logo>
    <p class="m-t-20">Flix version <strong>{{ version }}</strong></p>
    <p>Copyright &copy; The Foundry Visionmongers Ltd 2018.  All rights reserved.</p>
  </div>
</clr-modal>
