<div class="content" *ngIf="project.isFullyLoaded()">
  <div class="description">
    <form [formGroup]="saveForm" id="saveForm" class="save-form">
      <button class="btn btn-icon btn-sm btn-brand" [disabled]="!canSave()" (click)="save()" title="Save Revision">
        <clr-icon shape="floppy"></clr-icon> Save
      </button>
        <label aria-haspopup="true" role="tooltip" [ngClass]="{ 'invalid': saveForm.controls.comment.invalid && saveForm.controls.comment.dirty }"
          class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
          <input [hidden]="!config.allowSaveComment" formControlName="comment" type="text" placeholder="Comments" size="30" class="save-comments">
          <span *ngIf="saveForm.get('comment').errors?.maxlength" class="tooltip-content">
             Comment can be max 200 characters long.
          </span>
        </label>
    </form>
  </div>
</div>
