<button class="btn btn-icon" (click)="togglePlay()">
    <clr-icon title="Play" *ngIf="!playing" class="is-solid" shape="play"></clr-icon>
    <clr-icon title="Pause" *ngIf="playing" class="is-solid" shape="pause"></clr-icon>
</button>