@import '../../sass/mixins';
@import '../../sass/variables';

.card {
  margin-right: 15px;
  width: 250px;
  max-width: 250px;
  flex: 1;
  cursor: pointer;

  &:hover {
    .card-description {
      display: block;
    }

    .has-description img {
      opacity: 0.1;
    }

    .has-description .no-image-text {
      opacity: 0.3;
    }
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-description {
    display: none;
    position: absolute;
    overflow-wrap: break-word;
    top: 0;
    left: 0;
    width: 100%;
    height: 165px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
  }

  .card-block {
    overflow: hidden;
  }

  .card-img {
    height: 165px;
    width: 250px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $off-black;
    cursor: pointer;
  }

  .title {
    font-weight: bold;
  }

  .details {
    height: 40px;
    float: left;
    width: 85%;
  }
  .extra-info {
    font-style: italic;
    font-size: 12px;
    position: relative;
    top: -5px;
  }
  /deep/ clr-dropdown {
    float: right;

    .dropdown-toggle {
      padding-right: 0;
    }
  }
}
