<div class="card" [attr.show-title]="show.title">
  <div class="card-img" [ngClass]="{ 'has-description' : show.description }" [routerLink]="navigationUrl()">
    <img *ngIf="imageUrl" [src]="imageUrl">
    <img *ngIf="!loading && !imageUrl" src="../../../assets/show_img.png" />
    <div *ngIf="loading && !imageUrl" class="spinner spinner-inverse">Loading...</div>
  </div>
  <div [routerLink]="navigationUrl()" *ngIf="show.description" class="card-description">
    {{ show.description }}
  </div>
  <div class="card-block">
    <div [routerLink]="navigationUrl()" class="details">
      <div class="title ellipsis">{{ show.title | slice:0:25 }}</div>
      <div class="extra-info ellipsis">
        <span *ngIf="show.trackingCode" [attr.show-tracking-code]="show.trackingCode">
          {{ show.trackingCode | slice:0:12 }}
        </span>
        <span *ngIf="show.trackingCode && show.season"> - </span>
        <span *ngIf="show.season" [attr.season-name]="show.season">{{ show.season | slice:0:12 }}</span>
      </div>
    </div>
    <clr-dropdown [clrCloseMenuOnItemClick]="false">
      <button type="button" clrDropdownTrigger>
        <clr-icon shape="ellipsis-vertical"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <button type="button" [routerLink]="navigationUrl()" (click)="$event.stopPropagation()"
          clrDropdownItem>
          Open
        </button>

        <button class="edit" type="button" (click)="edit(); $event.stopPropagation()" clrDropdownItem>Edit</button>
        <button *ngIf="show.episodic" type="button" (click)="newSeason(); $event.stopPropagation()" clrDropdownItem>New Season</button>
        <div class="dropdown-divider"></div>
        <button type="button" disabled (click)="delete(); $event.stopPropagation()" clrDropdownItem>
          <clr-icon shape="trash"></clr-icon>
          <span>Delete</span>
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>
