@import "../../../../sass/variables";

.filter-by-sequence-id__icon {
  color: $light-grey;
}

.filter-by-sequence-id__episode {
  cursor: pointer;
  padding: 5px 10px;

  &:hover { background: $mine-shaft-dark; }
}

:host {

  .dropdown-menu {
    flex-wrap: wrap;
    display: flex;
    overflow-y: auto;
    max-height: 200px;
  }
}
