<div class="m-l-10 filter-by-sequence-id">
  <clr-dropdown>
    <button
      type="button"
      class="nav-icon filter-by-sequence-id__icon"
      title="Filter by sequence"
      clrDropdownTrigger>
      <clr-icon shape="data-cluster" size="16"></clr-icon>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <!-- episodes and sequences -->
      <div *ngIf="episodic">
        <div class="dropdown-header"
          *ngFor="let episode of episodes">
          <div class="filter-by-sequence-id__episode" (click)="setEpisode(episode.id)">
            Episode {{ episode.meta_data.tracking_code }}
          </div>

          <button type="button"
            clrDropdownItem
            *ngFor="let sequence of episode.sequences"
            (click)="setSequence(sequence.id)">
            Sequence {{ sequence.meta_data.tracking }}
          </button>
        </div>
      </div>

      <!-- sequences only -->
      <div *ngIf="!episodic">
        <label class="dropdown-header">Sequences</label>
        <button type="button"
          clrDropdownItem
          *ngFor="let sequence of sequences"
          (click)="setSequence(sequence.id)">
          {{ sequence.tracking }}
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
