<div class="flix-container">
  <split splitSaver="story-horizontal" direction="horizontal" (dragProgress)="splitChanged($event)" gutterSize="6" [ngClass]="{'split-overflow-visible' : showDialogueSplitOverflow}">
    <split-area [size]="70">
      <app-story-panels-browser [project]="project"></app-story-panels-browser>
    </split-area>
    <split-area [size]="30" [ngClass]="{'split-overflow-visible' : showDialogueSplitOverflow}">
      <div class="sidebar-container">
        <div class="player">
          <app-playback (resizeEvent)="handlePlaybackResize($event)" [project]="project"
            (showDrawChange)="toggleAnnotations($event)" (frameTick)="playbackPanelChange($event)"
            (pitchModeEvent)="handlePitchMode($event)" [annotationsToggled]="annotationsToggled"></app-playback>
          <app-annotation [ngStyle]="{'z-index': (showAnnotations) ? 0 : -1}"
            [annotationsToggled]="annotationsToggled" [playbackResizeEvent]="playbackResizeEvent"
            [playbackPanelEvent]="playbackPanelEvent" [playbackPitchEvent]="playbackPitchEvent">
          </app-annotation>
        </div>
        <div class="tabs">
          <ul>
            <li [ngClass]="{'active' : tab === 'dialogue'}" (click)="activateTab('dialogue')">Dialogue</li>
            <li [ngClass]="{'active' : tab === 'properties'}" (click)="activateTab('properties')">Properties</li>
            <li [ngClass]="{'active' : tab === 'library'}" (click)="activateTab('library')">Library</li>
          </ul>
        </div>
        <div class="tab-content">
          <app-panels-library-browser
            *ngIf="tab === 'library'"
            (setSplitAreaOverflow)="showOverFlowsOnDialogueHistoryOpen($event)">
          </app-panels-library-browser>

          <flix-panel-properties *ngIf="tab === 'properties'"></flix-panel-properties>
          <flx-dialogue
            *ngIf="tab === 'dialogue'"
            [changeTextboxHeightStream]="splitChangedEvent"
            [project]="project"
            (onDropdownToggle)="showOverFlowsOnDialogueHistoryOpen($event)">
          </flx-dialogue>
        </div>
      </div>
    </split-area>
  </split>
  <flix-status-bar>
    <div center>
      <flix-sequence-info></flix-sequence-info>
    </div>
  </flix-status-bar>
</div>
