@import "../../../sass/variables";

.split-overflow-visible {
  //The important is necessary to override inline styles applied by the clarity component
  overflow-x: visible!important;
  overflow-y: visible!important;
}

.split-overflow-non-scroll {
  //The important is necessary to override inline styles applied by the clarity component
  overflow-y: hidden!important;
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .player {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .tabs {
    flex-grow: 0;
    flex-shrink: 0;
    height: 35px;
    border-top: 2px solid $mine-shaft-darker;
    border-bottom: 1px solid $mine-shaft-darker;

    ul {
      height: 100%;
      margin-left: 0.5rem;

      li {
        cursor: pointer;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        margin-right: 1rem;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: normal;
        font-size: .583333rem;
      }

      li:hover,
      li.active {
        box-shadow: 0 -3px 0 $brand-primary inset;
        transition: box-shadow .2s ease-in;
        color: $light-grey;
      }
    }
  }

  .tab-content {
    flex: 1;
    overflow-y: auto;
  }
}
