<style>
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 296.5mm;
        background-color: white;
    }

    @media print {
        .nextPage {
            page-break-after: always;
            page-break-inside: avoid;
            background-color: white;
        }

        .wrap-container {
            background-color: white;
        }
    }

    .flex-container {
        padding: 10px;
        margin: 0;
        display: flex;
        height: 100%;
    }

    .row { 
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        height: 100%;
    }

    .column {
        flex-direction: column;
        max-height: 100%;
        width: 100%;
    }

    .flex-item {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
    }

    .tile {
        height: 100%;
        margin: auto 40px;
        flex-direction: column;
        color: black !important;
    }

    .show-container {
        height: 25px;
        padding: 0 15%;
        display: flex;
        justify-content: space-between;
    }

    .img-container {
        max-height: 60%;
    }

    .dialog-container {
        padding: 0 8%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
    }

    .dialog-id {
        flex: 1;
    }

    .dialog-content {
        height: 100%;
        flex: 3;
    }
    
    .dialog-position {
        flex: 1;
    }

    .img {
        border: 1px solid black;
        max-width: 70%;
        max-height: 100%;
    }

    .header-container {
        font-weight: 500;
        font-size: larger;
        padding: 0 30px;
        margin: 10px 5% 0 5%;
        display: flex;
        min-height: 30px;
        flex-direction: row;
        width: 90%;
        background-color: #bcbcbc;
        border: 2px solid black;
        color: black !important;
    }

    .footer-container {
        min-height: 105px;
        color: black !important;
        padding-bottom: 10px;
    }

    .new {
        background-color: green;
        border: 1px solid black;
        border-bottom: none;
        padding: 0 5px;
    }

    .date-container {
        margin: 0 5%;
        background-color: #bcbcbc;
        width: 90%;
        height: 29px;
        border: 2px solid black;
        text-align: right;
        padding-right: 20px;
    }
    
    .copyrights-container {
        padding: 0 30px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyrights {
        text-align: center;
    }

    .logo-container {
        width: 50px;
        height: 50px;
    }

    .logo {
        max-width: 100%;
        max-height: 100%;
    }

    .config-ignore {
        display: none;
    }

</style>

<input class="config-ignore" type="number" #configX value="3" />
<input class="config-ignore" type="number" #configY value="3" />
<input class="config-ignore" type="string" #configLogoPathLeft value="" />
<input class="config-ignore" type="string" #configLogoPathRight value="" />

<div class="wrap-container">
    <div *ngFor="let page of getPage(configX.value, configY.value); let i = index" class="nextPage" >
        <div class="page" >
            <div class="flex-container column">
                <div class="header-container" >{{ showName }} - {{ episodeName ? episodeName + " - " : "" }}{{ sequenceName }} -- Revision : {{ currentRevision.id }} - {{ currentRevision.comment }}</div>
                <div class="row" *ngFor="let row of arrayOf(configY.value)" >
                    <div class="flex-item" *ngFor="let col of arrayOf(configX.value)" >
                        <div class="tile" *ngIf="currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)]" >
                            <div class="show-container" >
                                <div>{{ currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].markerName }}</div>
                                <div class="new" *ngIf="!currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].published" >NEW</div>
                            </div>
                            <div class="img-container">
                                <img class="img"
                                    (load)="imagedLoaded(currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].id)"
                                    [src]="mappingImagePath[currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].id] || assetErrorPath" />
                            </div>
                            <div class="dialog-container" >
                                <div class="dialog-id" >{{ currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].id }}</div>
                                <div class="dialog-content" >
                                    {{ extractText(currentRevision.panels[col + row * configX.value + (i * configX.value * configY.value)].dialogue?.text) }}
                                </div>
                                <div class="dialog-position" >{{ col + row * configX.value + (i * configX.value * configY.value) + 1 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <div class="date-container" >{{ currentDate | date:'medium' }} Page - {{ i + 1 }}</div>
                    <div class="copyrights-container" >
                        <div class="logo-container">
                            <img *ngIf="configLogoPathLeft.value || defaultLogoPath" [src]="configLogoPathLeft.value || defaultLogoPath" class="logo" />
                        </div>
                        <div class="copyrights" >
                            CONFIDENTIAL: The images, artwork and other materials displayed are the proprietary property of Foundry.
                            <br />
                            Any unauthorized use, printing, copying or distribution of such images, artwork and materials is strictly prohibited. All rights reserved.
                        </div>
                        <div class="logo-container">
                            <img *ngIf="configLogoPathRight.value" [src]="configLogoPathRight.value" class="logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
