@import '../../sass/variables';

.flix-logo {
  height: 130px;

  path,
  polygon {
    fill: $brand-primary;
  }

  .pin {
    animation: breathing 5s ease alternate infinite;
    transform-origin: center;
  }
}
