<svg class="flix-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px" y="0px" viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve">
  <g>
    <path d="M145.8,17C76.7,15.2,19.2,69.7,17.3,138.9c-1.8,69.2,52.8,126.7,121.9,128.5c69.2,1.8,126.7-52.8,128.5-121.9
                      C269.6,76.3,215,18.8,145.8,17L145.8,17z M146.2,2.5c77.1,2,138,66.2,136,143.3c-2,77.1-66.2,138-143.3,136
                      c-77.1-2-138-66.2-136-143.3C4.9,61.4,69.1,0.5,146.2,2.5L146.2,2.5z" />
    <g class="pin">
      <path d="M175.2,43.3V48c0,5.9-4.8,10.6-10.6,10.6h-45c-5.9,0-10.6-4.8-10.6-10.6v-4.7H175.2z" />
      <path d="M171,144.7h-57.9c-12.8,0-23.2,10.4-23.2,23.2c0,2.4,2,4.4,4.4,4.4h95.4c2.5,0,4.4-2,4.4-4.4
                          C194.1,155.1,183.8,144.7,171,144.7z" />
      <path d="M149.4,182.7c-0.2-0.2-0.5-0.4-0.8-0.4h-13.1c-0.3,0-0.6,0.1-0.8,0.4c-0.2,0.2-0.3,0.5-0.3,0.8l5.5,59.6
                          c0.1,0.6,0.5,1,1.1,1h2.2c0.6,0,1-0.4,1.1-1l5.5-59.6C149.7,183.2,149.6,182.9,149.4,182.7z"
      />
      <polygon points="122,68.6 117.6,134.8 166.4,134.8 162.1,68.6" />
    </g>
  </g>
</svg>
