<form class="toggle-all-panels-revisions"
  [formGroup]="form"
  title="Filter by all revisions">
  <div class="toggle-all-panels-revisions__toggle toggle-switch m-l-10">
    <input type="checkbox"
      id="toggleAllPanelRevisions"
      formControlName="toggleAllPanelRevisions" />
    <label class="toggle-all-panels-revisions__label" for="toggleAllPanelRevisions">
      All revisions
    </label>
  </div>
</form>
