<clr-modal [clrModalClosable]="closable" [(clrModalOpen)]="display" (clrModalOpenChange)="currentAlert.confirm()" *ngIf="display">
<h3 class="modal-title">{{ title }}</h3>
<div class="modal-body">
    <p>{{ message }}</p>
</div>
<div class="modal-footer">
    <button *ngFor="let btn of buttons" type="button" class="btn btn-outline" (click)="respond(btn.response)">{{ btn.label }}</button>
</div>
</clr-modal>