.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 100000;

  .loading-sequence {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:  center;
  }
}
