<div class="flix-container loading-container" *ngIf="loading && showLoader">
    <div class="loading-sequence">
      Loading {{ loadingState }}...
      <div class="progress loop">
        <progress></progress>
      </div>
    </div>
  </div>
<router-outlet *ngIf="!loading"></router-outlet>
