<clr-modal [(clrModalOpen)]="episodeFormVisible" [clrModalSize]="'l'" [clrModalClosable]="true">
  <h3 *ngIf="!editMode" class="modal-title">New Episode</h3>
  <h3 *ngIf="editMode" class="modal-title">Edit Episode</h3>
  <div class="modal-body">

    <div *ngIf="saveCompleted" class="alert alert-success">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check"></clr-icon>
          </div>
          <span class="alert-text">
            Episode was saved successfully. You can create another episode or close this dialogue.
          </span>
        </div>
      </div>
    </div>

    <clr-alert *ngIf="formError" [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
      <div class="alert-item">
        The episode could not be saved. Please see logs.
      </div>
    </clr-alert>

    <form [formGroup]="form">
      <div class="form-group">
        <label class="required">Tracking Code</label>
        <label for="trackingCode" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left" role="tooltip"
          aria-haspopup="true"
          [class.invalid]="form.controls['trackingCode'].dirty && form.controls['trackingCode'].invalid">
          <input #formStartField type="text" id="trackingCode" formControlName="trackingCode"
            placeholder="Enter tracking code"
            class="form-control" />
          <span class="tooltip-content">
            You must set a valid tracking code
          </span>
        </label>
      </div>


      <div class="form-group">
        <label for="title" >Title</label>
        <label for="title" class="tooltip tooltip-validation tooltip-sm" role="tooltip">
          <input type="text" id="title" formControlName="title" placeholder="Enter title"/>
        </label>
      </div>


      <div class="form-group">
        <label for="episodeNumber">Episode Number</label>
        <input type="number" id="episodeNumber" formControlName="episodeNumber" placeholder="Enter episode number"
          class="form-control" numbersOnly/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" placeholder="Enter description"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" formControlName="comments" placeholder="Enter comments" rows="5"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right btns-row">
          <button type="button" class="btn" (click)="hideEpisodeForm()">Close</button>
          <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">
            <span *ngIf="editMode">Update</span>
            <span *ngIf="!editMode">Create</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</clr-modal>
