@import '../../sass/variables';
:host {
  .message {
    background-color: $success-font-clr;
    padding: 0 3px;
    color: $white;
    font-weight: bold;
    border-radius: $default-border-radius * 3;
  }
}
