<span *ngIf="showSpinner" class="spinner" [ngClass]="[type, size]"></span>
<span *ngIf="showMessage" [@savedToggle] class="message">
  <clr-icon *ngIf="icon" [attr.shape]="icon"></clr-icon>
  {{ message }}
</span>
