<clr-modal [clrModalOpen]="display" [clrModalClosable]="false">
  <h3 class="modal-title">Oops! An Error Occured</h3>
  <div class="modal-body">
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
      <div class="alert-item">
        {{ message }}
      </div>
    </clr-alert>
  </div>
  <div class="modal-footer">
    <button (click)="exitApp()" class="btn btn-primary">exit application</button>
    <button (click)="reloadUI()" class="btn btn-success">reload ui</button>
  </div>
</clr-modal>
