<clr-modal [(clrModalOpen)]="sequenceFormVisible" [clrModalSize]="'l'" [clrModalClosable]="true">
  <h3 *ngIf="!editMode" class="modal-title">New Sequence</h3>
  <h3 *ngIf="editMode" class="modal-title">Edit Sequence</h3>
  <div class="modal-body">

    <clr-alert *ngIf="formError" [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
      <div class="alert-item">
        The sequence could not be saved. Please see logs.
      </div>
    </clr-alert>

    <div *ngIf="saveCompleted" class="alert alert-success">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check"></clr-icon>
            </div>
            <span class="alert-text">
              Sequence was saved successfully. You can add another sequence, or
              close this dialogue.
            </span>
          </div>
        </div>
      </div>

    <form [formGroup]="form">
      <div class="form-group">
        <label class="required" for="tracking">Tracking code</label>
        <label for="tracking" aria-haspopup="true" role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="form.get('tracking').touched && !form.get('tracking').valid">
          <input #formStartField type="text" tabindex="1" formControlName="tracking" id="tracking" required placeholder="Enter tracking code" />
          <span class="tooltip-content">
            You must set a valid tracking code
          </span>
        </label>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <label for="title" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="form.get('title').touched && !form.get('title').valid">
          <input type="text" tabindex="2" formControlName="title" id="title" placeholder="Enter title" />
          <span class="tooltip-content">
            {{ form.get('title').errors | json }}
          </span>
        </label>
      </div>

      <div class="form-group">
        <label for="act">Act</label>
        <label for="act" aria-haspopup="true" role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="form.get('act').touched && !form.get('act').valid">
          <input type="text" tabindex="3" formControlName="act" id="act" placeholder="Enter act" />
          <span class="tooltip-content">
            Invalid act value entered
          </span>
        </label>
      </div>
      <div class="form-group" *ngIf="editMode" >
          <label for="hiddenToggle">OOP</label>
          <div class="toggle-switch">
            <input type="checkbox" formControlName="hidden" id="hiddenToggle" />
            <label for="hiddenToggle"></label>
          </div>
        </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" tabindex="4" formControlName="comment" placeholder="Enter comments" rows="5"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right btns-row">
          <button type="button" class="btn" (click)="hideSequenceForm()" data-test-id="sequence-modal-close" >Close</button>
          <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="handleFormSubmission()" data-test-id="sequence-modal-update" >
            {{ editMode ? "Update" : "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</clr-modal>
