:host {
  /deep/ clr-modal label.tooltip,
  /deep/ clr-modal .form-group input,
  /deep/ clr-modal textarea {
    margin-right: 0;
    width: 100%;
  }

  .checkbox-inline {
    margin-right: 10px;
    position: relative;
    top: 3px;
  }

  .btns-row {
    margin-top: 20px;
  }

  .btn {
    margin-bottom: 0;
  }

  .btn-primary {
    margin-right: 0;
  }
  
  .toggle-switch {
    left: -10px;
  }
}
