<div class="reset-filters" title="Reset filters">
  <clr-icon shape="filter" class="is-solid reset-filters__filter-icon" size="16"></clr-icon>
  <clr-icon shape="times" class="is-solid" size="10"></clr-icon>
</div>
