<h3 *ngIf="!selectedUser">Create user</h3>
<h3 *ngIf="selectedUser">Edit user</h3>

<form [formGroup]="form">
  <section class="form-block">
    <!-- user name -->
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="required">User name</label>
      </div>
      <div class="col-sm-8">
        <label aria-haspopup="true"
          [class.invalid]="form.get('userName').invalid && (form.get('userName').dirty || form.get('userName').touched)"
          class="tooltip tooltip-validation tooltip-md tooltip-top-left form-control" for="userName" role="tooltip">

          <input type="text"
            class="form-control"
            id="userName"
            formControlName="userName"
            [attr.placeholder]="userNamePlaceholder" />

          <span class="tooltip-content"
            *ngIf="form.get('userName').invalid && (form.get('userName').dirty || form.get('userName').touched)">

            <span *ngIf="form.get('userName').hasError('required')">
              Please enter a user name.
            </span>
            <span *ngIf="form.get('userName').hasError('minlength')">
              User name should be at least {{ userNameMinLength }} characters long.
            </span>
          </span>
        </label>
      </div>
    </div>
    <!-- email address -->
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="disabled">Email address</label>
      </div>
      <div class="col-sm-8">
        <label aria-haspopup="true"
          [class.invalid]="form.get('emailAddress').invalid &&
          (form.get('emailAddress').dirty || form.get('emailAddress').touched)"
          class="tooltip tooltip-validation tooltip-md tooltip-top-left form-control" for="emailAddress" role="tooltip">

          <input type="text" disabled
            class="form-control"
            id="emailAddress"
            formControlName="emailAddress"
            [attr.placeholder]="emailAddressPlaceholder" />

          <span class="tooltip-content"
            *ngIf="form.get('emailAddress').invalid &&
            (form.get('emailAddress').dirty || form.get('emailAddress').touched)">
            <span *ngIf="form.get('emailAddress').hasError('pattern')">
              Email address is not valid.
            </span>
          </span>
        </label>
      </div>
    </div>
    <!-- Password -->
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="required">Password</label>
      </div>
      <div class="col-sm-8">
        <label aria-haspopup="true"
          [class.invalid]="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)"
          class="tooltip tooltip-validation tooltip-md tooltip-top-left form-control" for="password" role="tooltip">

          <input type="password"
            class="form-control"
            id="password"
            formControlName="password"
            [attr.placeholder]="passwordPlaceholder" />

          <span class="tooltip-content"
            *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">

            <span *ngIf="form.get('password').hasError('required')">
              Please enter a password.
            </span>
            <span *ngIf="form.get('password').hasError('minlength')">
              Password should be at least {{ passwordMinLength }} characters long.
            </span>
          </span>
        </label>
      </div>
    </div>
    <!-- confirm password -->
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="required">Confirm password</label>
      </div>
      <div class="col-sm-8">
        <label aria-haspopup="true"
          [class.invalid]="form.get('confirmPassword').invalid &&
          (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
          class="tooltip tooltip-validation tooltip-md tooltip-top-left form-control" for="confirmPassword"
          role="tooltip">

          <input type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            [attr.placeholder]="confirmPasswordPlaceholder" />

          <span class="tooltip-content"
            *ngIf="form.get('confirmPassword').invalid &&
            (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">

            <span *ngIf="form.get('confirmPassword').hasError('required')">
              Please re enter the password.
            </span>
            <span *ngIf="form.get('confirmPassword').hasError('matchControls')">
              Passwords do not match.
            </span>
          </span>
        </label>
      </div>
    </div>
    <!-- is admin -->
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="toggle-switch">
          <input type="checkbox"
            formControlName="isAdmin"
            id="isAdmin" />
          <label for="isAdmin">Admin</label>
        </div>
      </div>
    </div>
  </section>
  <section class="form-block">
    <!-- Create button -->
    <button type="button"
      (click)="createUser()"
      *ngIf="!selectedUser"
      [disabled]="form.invalid"
      class="btn btn-primary"
      [class.btn-success]="form.valid">
      Create
    </button>

    <!-- Edit button -->
    <button type="button"
      (click)="editUser()"
      *ngIf="selectedUser"
      [disabled]="form.invalid || form.pristine || !userModified"
      class="btn btn-primary"
      [class.btn-success]="form.valid">
      Edit
    </button>

    <!-- Delete button -->
    <button type="button"
      [disabled]="(selectedUser.id === currentUser.id) || (users.length === 1)"
      (click)="deleteUser()"
      *ngIf="selectedUser"
      class="btn btn-danger">
      <clr-icon shape="trash"></clr-icon>
    </button>
  </section>
</form>
