<drop-zone (onFileDrop)="onFileDrop($event)" >
  <div class="flix-container">
    <div class="toolbar-wrapper">
      <flix-toolbar [buttons]="topToolbarButtons" (buttonPressed)=toolbarButtonHandler($event)></flix-toolbar>
      <toolbar-cog-menu (toggleAnnotationsEvent)="toggleAnnotationsHandler($event)"></toolbar-cog-menu>
    </div>
    <div class="content vertical">
      <flix-toolbar [buttons]="leftToolbarButtons" (buttonPressed)=toolbarButtonHandler($event) [vertical]="true" class="toolbar--vertical"></flix-toolbar>
      <div *ngIf="project.sequenceRevision && project.sequenceRevision.panels"
          (columnCounter)="updateColumns($event)"
          class="content panels-grid"
          [dragula]='"bag-one"'
          [dragulaModel]="project.sequenceRevision.panels"
          flixPanelDragger>

        <flix-story-panel-card [flixScrollTo]="panel.isSelected()"
          *ngFor="let panel of project.sequenceRevision.panels; trackBy:panelsTrackByFn; let i = index"
          [index]="i"
          [panel]="panel"
          [scale]="scale"
          [project]="project"
          [attr.data-id]="panel.id"
          [attr.data-index]="i"
          [selectionAdditive]="selectionAdditive"
          [selectionInBetween]="selectionInBetween"
          (pencilIconClick)="annotationToggle()">
        </flix-story-panel-card>
      </div>
    </div>
  </div>

  <flix-publish-modal
    #publishModal
    [showId]="project.show.id"
    [sequenceId]="project.sequence.id"
    [currentRevision]="currentRevision"
    [editorialApp]="editorialApp">
  </flix-publish-modal>

  <flix-compare-modal
    #compareModal
    [showId]="project.show.id"
    [sequenceId]="project.sequence.id"
    [currentRevision]="currentRevision">
  </flix-compare-modal>

  <app-export-modal
    #exportModal>
  </app-export-modal>
</drop-zone>
