@import '../../sass/variables';

:host {
  height: 100%;
  flex-grow: 1;
  display: flex;

  flix-toolbar {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .toolbar-wrapper {
    display: flex;

    flix-toolbar {
      flex-grow: 1;
    }
  }

  .vertical {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .panels-grid {
    overflow: auto;
    padding: 0 $default-padding $default-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    &.horizontal {
      overflow-y: hidden;
      overflow-x: scroll;
      max-width: 100%;
    }

    .grid-container {
      display: flex;
      flex-wrap: wrap;

      &.horizontal {
        flex-wrap: nowrap;
      }
    }

    .gu-mirror {
      border: 1px solid red;
    }

    // .drag-area {
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    // }

    // .dragged {
    //   background-color: $mine-shaft-light;
    //   border: 1px solid red;
    // }

    // .drag-over {
    //   &.drag-after {
    //     border-right: 5px solid $red;
    //   }

    //   &.drag-before {
    //     border-left: 5px solid $red;
    //   }
    // }

    &.as-list {
      flex-flow: column;
      justify-content: flex-start;

      .grid-panel {
        margin: 5em auto;
        &.drag-over {
          background-position-y: 50px;
          background-position-x: 0px;
        }
      }
    }
  }
}
