<clr-modal [(clrModalOpen)]="visible" [clrModalSize]="'l'" [clrModalClosable]="true">
  <h3 class="modal-title">Edit Revision</h3>
  <div class="modal-body">
    <clr-alert *ngIf="formError" [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
      <div class="alert-item">
        The revision could not be saved. Please see logs.
      </div>
    </clr-alert>

    <form [formGroup]="form">
      <div class="form-group" *ngIf="revision">
        <label for="title">Revision</label>
        <label for="title" aria-haspopup="true" role="tooltip">
          <input type="text" disabled [value]="revision.id" id="title" />
        </label>
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" class="invalid" formControlName="comment" placeholder="Comments" rows="5"></textarea>
        <span *ngIf="form.get('comment').errors?.maxlength" class="tooltip-content">
          Comment can be max 200 characters long.
        </span>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right btns-row">
          <button type="button" class="btn" (click)="hide()">Cancel</button>
          <button type="button" class="btn" [disabled]="form.invalid" (click)="handleFormSubmission()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</clr-modal>
