<div class="container-fluid">
    <table *ngIf="panels.length > 0" class="table table-vertical">
        <tbody>
            <tr *ngIf="panels[0].owner">
                <th>Artist</th>
                <td>{{ panels[0].owner.username || "--" }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ panels[0].createdDate | date:'medium' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td *ngIf="panels[0].createdDate < panels[0].revisionDate">{{ panels[0].revisionDate | date:'medium' }}</td>
                <td *ngIf="!(panels[0].createdDate < panels[0].revisionDate)">--</td>
            </tr>
        </tbody>
    </table>
</div>
