@import "../../sass/variables";
.status-bar {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: $mine-shaft-light;
  color: $white;
  padding-right: 6px;

  .left, .right, .center {
    display: flex;
    flex: 1;
    margin: 6px;
    margin-right: 0;
    min-height: 24px;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  .center {
    justify-content: center;
  }

  &.hidden {
    display: none;
  }
}
