<clr-dropdown>
    <button type="button" class="btn" clrDropdownTrigger>
      <clr-icon shape="settings" size="22" title="Settings"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
      <div class="dropdown-header">Filters</div>
        <div class="form-group">
          <div class="checkbox">
            <input type="checkbox" name="filterAnnotations" id="filterAnnotations"
            [(ngModel)]="showAnnotations" (ngModelChange)="filterAnnotations($event)" />
            <label for="filterAnnotations">Annotations</label>
          </div>
        </div>

    </clr-dropdown-menu>
</clr-dropdown>
