@import '../../sass/variables';
@import '../../sass/mixins';

:host {
  flex-shrink: 0;
  flex-grow: 0;
  height: 2rem;
  display: inline-flex;
  align-self: center;
  border-top: $default-border;
  border-bottom: $default-border;
  background-color: $mine-shaft-light;
  line-height: 0rem;
  @include toolbar-button;

  .form-group {
    padding: 0 $default-padding * 2;
  }

  button {
    color: $light-grey;
  }
}
