<ng-container *ngIf="isSequenceLoaded">
  <div class="header-actions">
    <clr-dropdown>
        <button title="Switch Workspace" [disabled]="!isInWorkspace()" type="button" class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="grid-view" size="24"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <label class="dropdown-header">Workspace</label>
          <button type="button" [ngClass]="{'active' : currentWorkSpace === 'story'}" (click)="setWorkSpace('story')" clrDropdownItem><i class="fa fa-fw fa-check"></i> Story</button>
          <button type="button" [ngClass]="{'active' : currentWorkSpace === 'dialogue'}" (click)="setWorkSpace('dialogue')" clrDropdownItem><i class="fa fa-fw fa-check"></i> Dialogue</button>
        </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</ng-container>
