@import '../../sass/variables';

.header-actions .nav-icon {
  height: initial;
  width: initial;
  margin: 1rem;
  padding: 0.25rem;
  cursor: pointer;

  &[disabled] {
    opacity: 0.2;
  }
}

.dropdown-item.active {
  background-color: $scorpion;
}

button.active {
  .fa {
    display: inline;
  }
}

button {
  .fa {
    display: none;
  }
}
