<div class="flix-container flix-container-padded">
  <div class="page-header">
    <div class="btn-group">
      <button (click)="showEpisodeForm()" class="btn">
        <clr-icon shape="plus"></clr-icon>
        <span>new episode</span>
      </button>
    </div>
    <h3>Episodes</h3>
  </div>
  <div class="content">
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-placeholder>No episodes for this show exist.</clr-dg-placeholder>
      <clr-dg-action-bar>
        <list-filter></list-filter>
      </clr-dg-action-bar>
      <clr-dg-column [clrDgField]="'trackingCode'">Tracking Code</clr-dg-column>
      <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
      <clr-dg-column [clrDgField]="'episodeNumber'">Episode Number</clr-dg-column>
      <clr-dg-column>Comments</clr-dg-column>
      <clr-dg-column [clrDgField]="'createdDate'">Last Revision</clr-dg-column>
      <clr-dg-column [clrDgField]="'createdDate'">Revisions</clr-dg-column>

      <clr-dg-row *clrDgItems="let episode of getEpisodes() | filter : listFilter.keyword : ['trackingCode', 'title']" [clrDgItem]="episode">
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">{{ episode.trackingCode }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">{{ episode.title }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">{{ episode.episodeNumber }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">{{ episode.comments || "--" }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">--</clr-dg-cell>
        <clr-dg-cell [routerLink]="getSequenceListUrl(episode.id)">--</clr-dg-cell>
        <clr-dg-action-overflow>
          <button (click)="showEpisodeForm(episode)" class="action-item">Edit</button>
        </clr-dg-action-overflow>
      </clr-dg-row>

      <clr-dg-footer *ngIf="episodes">{{ getEpisodes().length }} episodes</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<flix-episode-form
  [showId]="showId"
  (onSave)="onSave($event)">
</flix-episode-form>
