<div [ngClass]="{'has-marker': hasMarker()}">
  <div (dblclick)="toggleEditMode()" class="marker-name" *ngIf="isMarker()">
    <span *ngIf="!editMode">{{ marker.name | ellipsis:25 }}</span>
    <input *ngIf="editMode" [maxLength]="marker.maxMarkerLength" (focus)="selectAllContent($event)" class="marker-input" tabindex="1" (keyup.enter)="saveMarker($event)" type="text" [value]="marker.name" />
  </div>
</div>
