@import '../../sass/variables';

div {
  height: 25px;
  display: block;
  z-index: 10;
  border-bottom: 2px solid transparent;

  &.has-marker {
    border-bottom: 2px solid $scorpion;
  }
}

.marker-name {
  color: $white;
  font-size: 9px;
  background: $scorpion;
  padding: 0 10px;
  height: 25px;
  margin-left: 10px;
  display: inline-block;
}

.marker-input {
  padding: 4px;
  height: 0.8rem;
}
