@import '../../../sass/variables';

:host {
  display: block;
}

.rich-text-editor {
  position: relative;
  padding: 10px;

  ::ng-deep [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #868e96;
    opacity: 1;
  }

  ::ng-deep .alert {
    margin-bottom: 0.2rem;
  }

  .wrapper {

    .textarea {
      position: relative;
      padding: 0.4rem 0.4rem 4rem 0.4rem;
      background-color: #525252;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 120px;

      &:focus,
      &.focus {
        outline: 0;
      }

      ::ng-deep blockquote {
        margin-left: 1rem;
        border-left: 0.2em solid #dfe2e5;
        padding-left: 0.5rem;
      }
    }

    ::ng-deep p {
      margin-bottom: 0;
    }

    .placeholder {
      padding: 0.4rem 0.4rem 1rem 0.4rem;
      margin-top: -120px;
      position: absolute;
      z-index: 2;
      color: #6c757d;
      opacity: 1;
      pointer-events: none;
    }
  }

  .footer {
    text-align: right;
    font-size: 80%;
  }
}
