<div class="rich-text-editor" id="richTextEditor" tabindex="0">
  <div (click)="hideErrorMessage()">
    <flx-rich-text-editor-toolbar [config]="config">
      <ng-content></ng-content>
    </flx-rich-text-editor-toolbar>
    <clr-alert *ngIf="error" [clrAlertSizeSmall]="true">
      <div class="alert-item">
      <span class="alert-text">
        {{ error }}
      </span>
      </div>
    </clr-alert>
    <clr-alert *ngIf="getCharacterCount() > maxCharacterCount" [clrAlertSizeSmall]="true">
      <div class="alert-item">
        <span class="alert-text">
          Your dialogue is getting long. Consider splitting your panel.
        </span>
      </div>
    </clr-alert>
  </div>
  <div class="wrapper" (click)="onRichTextEditorFocus()">
    <div class="textarea"
      [attr.contenteditable]="editable"
      (input)="onContentChange($event.target.innerHTML)"
      [attr.spellcheck]="config['spellcheck']"
      (keydown)="onKeyDown($event)"
      #richTextArea>
    </div>
    <span *ngIf="showPlaceholder" class="placeholder">{{ placeholder || config['placeholder'] }}</span>
  </div>
  <div class="footer">
    {{getCharacterCount()}}/{{maxCharacterCount}}
  </div>
</div>
