@import '../../sass/variables';

.checkbox-inline:not(:first-of-type) {
  padding-left: 1.25rem;
}

.horizontal-gutter {
  padding-left: $default-gutter-width;
  padding-right: $default-gutter-width;
}

.datagrid-cell-gutter-left {
  padding-left: $default-gutter-width;
}

.datagrid-cell-gutter-right {
  padding-right: $default-gutter-width;
  height: 20px;
}

.import-span {
  margin: 0;
}

.tabs-button {
  margin-left: 32px !important;
}

.import-col-sm {
  max-width: 7%
}

.import-col-md {
  max-width: 15%
}

.import-col-lg {
  max-width: 22%;
}

.import-error-cell {
  overflow-x: auto;
}
