<div>
    <form [formGroup]="form" (submit)="importToFlix()">
    <section class="form-block container-fluid horizontal-gutter">
      <div class="form-group row">
        <div class="col-sm-1">
          <label for="moviePath">Movie Path</label>
          <label for="edlPath">XML Path</label>
        </div>
        <div class="col-sm-11">
          <input #movPath class="form-control" type="text" id="moviePath" formControlName="mov" placeholder="Enter Movie Path" (ngModelChange)="updateFormControl('mov')"
          />
          <input #edlPath class="form-control" type="text" id="edlPath" formControlName="edl" placeholder="Enter XML Path" (ngModelChange)="updateFormControl('edl')"
          />
          <file-picker [defaultPath]="movPath.value || edlPath.value " [form]="form" [multiple]="true" [multipleControls]="filePathMatchers"></file-picker>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-1">
          <label>Effects & New Clips</label>
        </div>
        <div class="col-sm-4">
          <div class="select">
            <select (change)="effectsModeChange($event)">
              <option [value]="'NONE'">Ignore Effects</option>
              <option selected [value]="'MIDDLE_FRAME'">Hold Middle Frame</option>
              <option [value]="'ALL_FRAMES'">Render All Frames</option>
            </select>
          </div>
        </div>
        <div class="col-sm-1">
          <label>Comment</label>
        </div>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="comments" name="comments" formControlName="comments" placeholder="Enter comment">
        </div>
        <div class="col-sm-2">
          <button [clrLoading]="importing" type="submit" class="btn btn-primary" [disabled]="importing || form.invalid || form.pristine">
            <span class="import-span" *ngIf="!importing" >Import</span>
          </button>
        </div>
      </div>
    </section>
  </form>
  <clr-tabs>
    <clr-tab>
      <button class="tabs-button" clrTabLink>Import History</button>
      <ng-template [(clrIfActive)]="tabImportHistoryActive">
        <clr-tab-content>
          <clr-datagrid class="publish-history-grid">
            <clr-dg-placeholder>No sequence revision has been imported</clr-dg-placeholder>
            <clr-dg-column class="datagrid-cell-gutter-left">Status</clr-dg-column>
            <clr-dg-column>End time</clr-dg-column>
            <clr-dg-column>Mov Path</clr-dg-column>
            <clr-dg-column class="datagrid-cell-gutter-right">XML Path</clr-dg-column>
            <clr-dg-row *ngFor="let publish of history">
              <clr-dg-cell class="datagrid-cell-gutter-left">{{publish.status}}</clr-dg-cell>
              <clr-dg-cell>{{publish.endTime | date:'medium'}}</clr-dg-cell>
              <clr-dg-cell>{{publish.movPath}}</clr-dg-cell>
              <clr-dg-cell class="datagrid-cell-gutter-right">{{publish.edlPath}}</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button class="tabs-button" clrTabLink>Last Import Summary</button>
      <ng-template [(clrIfActive)]="tabLastImportActive">
        <clr-tab-content>
          <clr-datagrid class="last-publish-grid">
            <clr-dg-column class="datagrid-cell-gutter-left">Clip Name</clr-dg-column>
            <clr-dg-column>Start</clr-dg-column>
            <clr-dg-column>End</clr-dg-column>
            <clr-dg-column>Original Panel</clr-dg-column>
            <clr-dg-column class="datagrid-cell-gutter-right">Info</clr-dg-column>
            <clr-dg-row *ngFor="let panel of importedPanels | sortBy : ['in']">
              <clr-dg-cell class="datagrid-cell-gutter-left">{{panel.name}}</clr-dg-cell>
              <clr-dg-cell>{{panel.in}}</clr-dg-cell>
              <clr-dg-cell>{{panel.out}}</clr-dg-cell>
              <clr-dg-cell>{{ panel.refPanelID ? "Panel: " + panel.refPanelID + " Revision: " + panel.refPanelRevision : "" }}</clr-dg-cell>
              <clr-dg-cell class="datagrid-cell-gutter-right">{{getPanelEffects(panel)}}</clr-dg-cell>
            </clr-dg-row>
            <!-- markers-->
            <clr-dg-row *ngFor="let marker of markers">
              <clr-dg-cell class="datagrid-cell-gutter-left">{{ marker.name }}</clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell class="datagrid-cell-gutter-right">Marker</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button class="tabs-button" clrTabLink>Import Logs</button>
      <ng-template [(clrIfActive)]="tabLogsImportActive">
        <clr-tab-content>
          <clr-datagrid class="logs-publish-grid">
            <clr-dg-column class="datagrid-cell-gutter-left import-col-sm">Position</clr-dg-column>
            <clr-dg-column class="import-col-lg">Clip Name</clr-dg-column>
            <clr-dg-column class="import-col-sm">Ref</clr-dg-column>
            <clr-dg-column class="import-col-md">Status</clr-dg-column>
            <clr-dg-column>Error</clr-dg-column>
            <clr-dg-column class="datagrid-cell-gutter-right import-col-sm">Progress</clr-dg-column>
            <clr-dg-row *ngFor="let c of spreadedClips | sortBy: ['position']">
              <clr-dg-cell class="datagrid-cell-gutter-left import-col-sm" >{{c.position}}</clr-dg-cell>
              <clr-dg-cell class="import-col-lg">{{c.panel?.name || c.clip?.name}}</clr-dg-cell>
              <clr-dg-cell class="import-col-sm">{{ c.panel?.isRef() ? "Ref" : "" }}</clr-dg-cell>
              <clr-dg-cell class="import-col-md">{{ c.status }}</clr-dg-cell>
              <clr-dg-cell class="import-error-cell" >{{ c.error }}</clr-dg-cell>
              <clr-dg-cell class="datagrid-cell-gutter-right import-col-sm">
                <span *ngIf="!uploadedClips[c.panel?.name || c.clip?.name] && c.status !== 'Not handle yet' && c.status !== 'Error occured'" class="spinner spinner-inline">Loading...</span>
                <clr-icon *ngIf="c.status === 'Not handle yet'" shape="exclamation-triangle"></clr-icon>
                <clr-icon *ngIf="c.status === 'Error occured'" shape="error-standard"></clr-icon>
                <clr-icon *ngIf="uploadedClips[c.panel?.name || c.clip?.name]" shape="check"></clr-icon>
              </clr-dg-cell>
            </clr-dg-row>
            <!-- markers-->
            <clr-dg-row *ngFor="let marker of markers">
              <clr-dg-cell class="datagrid-cell-gutter-left import-col-sm">Marker</clr-dg-cell>
              <clr-dg-cell class="import-col-lg">{{ marker.name }}</clr-dg-cell>
              <clr-dg-cell class="import-col-sm"></clr-dg-cell>
              <clr-dg-cell class="import-col-md"></clr-dg-cell>
              <clr-dg-cell class="import-error-cell" ></clr-dg-cell>
              <clr-dg-cell class="datagrid-cell-gutter-right import-col-sm"></clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
