<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="true">
  <h3 class="modal-title">
    <span>Compare revision</span>
  </h3>

  <div class="modal-body">
    <clr-datagrid [(clrDgSingleSelected)]="selectedRevision" [clDgRowSelection]="true">
      <clr-dg-placeholder>No Revisions for this Sequence exist.</clr-dg-placeholder>
      <clr-dg-column class="id-column">Revision</clr-dg-column>
      <clr-dg-column>User</clr-dg-column>
      <clr-dg-column>Date</clr-dg-column>
      <clr-dg-column>
        <clr-icon shape="chat-bubble" class="is-solid"></clr-icon> Comment
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let revision of sequenceRevisions; trackBy trackByFn" [clrDgItem]="revision">
        <clr-dg-cell class="id-column">{{ revision.id }}</clr-dg-cell>
        <clr-dg-cell>{{ revision.owner.username }}</clr-dg-cell>
        <clr-dg-cell>{{ revision.createdDate | date:'short' }}</clr-dg-cell>
        <clr-dg-cell>
          <clr-tooltip>
            <em clrTooltipTrigger>{{ revision.comment || '--' | slice:0:10 }}</em>
            <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
              <span class="tooltip-content">{{ revision.comment }}</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} sequence revisions
          </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

    <div *ngIf="error" class="alert alert-danger">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">{{error}}</span>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="!error" class="modal-footer">
    <button type="button" class="btn" (click)="close(true)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="compare()">Compare</button>
  </div>
</clr-modal>
