<div id="playbackComponent" [ngClass]="{'pitch-wrapper': pitchMode}">
    <div class="info-bar" *ngIf="!pitchMode">
      <div (click)="gotoCurrentPanel()">
          <a title="Skip to panel" class="label clickable">
            Panel
            <span *ngIf="getCurrentPanel()" class="badge">{{ getCurrentPanel().id }}</span>
          </a>
        </div>
      <div class="middle" title="Current frame">{{ getFrameOffset() }}</div>
      <div class="right" title="Total frames">{{ frames.size }}</div>
    </div>
    <div class="canvas-wrap">
      <canvas #playback (flixAspectRatio)="doResize($event)" (dblclick)="gotoCurrentPanel()" [dynamic]="true" [disabled]="pitchMode"
        [ngClass]="{'pitch': pitchMode}" (mousemove)="toggleControls($event)"></canvas>
      <div *ngIf="showSubs()" class="subtitles" [ngClass]="{'pitch': pitchMode}">
        <span [innerHtml]="currentPanel.dialogue.text | cleanText"></span>
      </div>
      <div *ngIf="showAudience" class="audience"></div>
    </div>
    <div class="controls" [ngClass]="{'pitch': pitchMode}" [@controlsFade]="showControls" (mouseenter)="showingControls($event)">
      <input class="scrubber" [ngClass]="{'pitch': pitchMode}" #scrubber [value]="getFrameOffset()" [max]="frames.size" type="range"
      />
      <div class="controls-buttons">
        <clr-button-group class="btn-icon btn-sm">
          <clr-button (click)="toggleSubs()" [disabled]="recording || showAnnotations">
            <clr-icon title="Toggle subtitles" [ngClass]="{'faded': !showSubtitles}" shape="chat-bubble" class="is-solid"></clr-icon>
          </clr-button>
          <clr-button (click)="toggleDraw()" [disabled]="playing || pitchMode || recording">
            <clr-icon title="Toggle annotations" shape="pencil" class="is-solid"></clr-icon>
          </clr-button>
        </clr-button-group>
        <clr-button-group class="btn-icon btn-sm">
          <clr-button (click)="toggleLoop()" [disabled]="recording">
            <clr-icon title="Loop Playback" shape="sync" [ngClass]="{'faded': !loop}"></clr-icon>
          </clr-button>
          <clr-button (click)="stepPanel(-1)" [disabled]="recording">
            <clr-icon title="Goto the previous panel" class="is-solid" shape="step-forward" flip="horizontal"></clr-icon>
          </clr-button>
          <clr-button (click)="togglePlay()" [disabled]="recording">
            <clr-icon title="Play" *ngIf="!playing" class="is-solid" shape="play"></clr-icon>
            <clr-icon title="Pause" *ngIf="playing" class="is-solid" shape="pause"></clr-icon>
          </clr-button>
          <clr-button (click)="stepPanel(1)" [disabled]="recording">
            <clr-icon title="Goto the next panel" class="is-solid" shape="step-forward"></clr-icon>
          </clr-button>
        </clr-button-group>
        <div class="btn-group">
          <button title="Mic Mute" class="btn btn-icon btn-sm" (click)="toogleMute()" [disabled]="recording">
            <i *ngIf="audioMuted" class="fa fa-fw fa-microphone-slash"></i>
            <i *ngIf="!audioMuted" class="fa fa-fw fa-microphone"></i>
          </button>
          <button class="btn btn-icon btn-sm" (click)="toggleRecord()">
            <i title="Record" class="fa fa-fw fa-circle" [ngClass]="{'record-icon': recording}"></i>
          </button>
          <div class="btn-group-overflow" [ngClass]="{open: showVolume}">
            <button class="btn btn-icon btn-sm dropdown-toggle" (click)="toggleVolume()">
              <clr-icon title="Volume" shape="volume-up" class="is-solid"></clr-icon>
            </button>
            <div class="dropdown-menu" [ngStyle]="{'display': (showVolume) ? 'block' : 'none'}" (mouseleave)="showVolume = false">
              <label class="dropdown-header">Volume</label>
              <volume-slider [audio]="audioSource"></volume-slider>
            </div>
          </div>
        </div>
        <button class="btn btn-icon btn-sm" (click)="togglePitch()">
          <i title="Fullscreen Mode" class="fa fa-fw fa-expand"></i>
        </button>
      </div>
    </div>
  </div>
