@import '../../sass/variables';
@import '../../sass/colors';

:host {
  position: relative;
  display: block;
}

.info-bar {
  display: flex;
  flex-direction: row;
  padding: 3px;
  background-color: $mine-shaft-dark;

  div {
    flex: 1;
    // border: 1px solid red;
    font-size: 80%;
  }

  .middle {
    text-align: center
  }
  .right {
    text-align: right;
  }
}

.pitch-wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
}

.canvas-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  canvas {
    width: 100%;
    background-color: $white;
    padding: 0;
    margin: 0;
    margin-bottom: -7px;

    &.pitch {
      height: 100vh!important;
      background-color: $mine-shaft-dark;
    }
  }

  .audience {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/audience_small.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .subtitles {
    position: absolute;
    bottom: 7px;
    width: 100%;
    text-align: center;
    z-index: 100;

    span {
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 4px;
      line-height: 2;
      box-shadow: 10px 0 0 rgba(0, 0, 0, 0.4), -10px 0 0 rgba(0, 0, 0, 0.4);
    }

    &.pitch {
      transform: scale(2);
      bottom: 120px !important;
    }
  }
}

.controls {
  text-align: center;
  margin: 0;
  z-index: 1000;

  .controls-buttons {
    height: 40px;
    padding-top: 5px;

    .btn-group-overflow {
      .dropdown-menu {
        top: 0;
        transform: translate(-100%, -100%);
        left: 37px;
      }
    }
  }

  .scrubber {
    margin: 0;
    width: 100%;
    display: block;

    &.pitch {
      display: none;
    }
  }

  .mute {
    color: $swirl;
    background-color: $mine-shaft-light;
    border: 1px solid black;
    padding-right: 0.5rem;
    height: .98rem;
    padding: 0 10px;
    border-radius: 0.125rem;
    cursor: pointer;

    &:hover {
      background-color: $mine-shaft-dark;
    }
  }

  &.pitch {
   position: absolute;
   bottom: 20px;
   width: 100vw;
  }
}

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 12px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px; /* 1 */
  height: 12px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw $mine-shaft-lightest;
  border: 0px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw $mine-shaft-lightest;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: dodgerblue;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip {
  display: none;
}

.dropdown .dropdown-toggle.btn {
  padding-right: 0.5rem;
}

.faded {
  opacity: 0.5;
}

.record-icon {
  color: red;
}
