<clr-modal [(clrModalOpen)]="display" [clrModalSize]="'lg'" [clrModalClosable]="true">
  <h3 class="modal-title">Preferences</h3>

  <div class="modal-body">
    <div class="row prefs">
      <div class="col-md-4 sidebar">
        <clr-tree-node *ngFor="let menuItem of menu" >
          <a class="clr-treenode-link" [class.active]="menuItem.id === activeMenuItem" (click)="toggleContent(menuItem)">{{menuItem.name}}</a>
          <ng-template [clrIfExpanded]="expandedCheck(menuItem.id)" *ngIf="menuItem | objectHas:'subMenu'">
            <clr-tree-node *ngFor="let subMenuItem of menuItem.subMenu">
              <a class="clr-treenode-link" [class.active]="subMenuItem.id === activeMenuItem" (click)="toggleContent(subMenuItem)">{{subMenuItem.name}}</a>
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>
      </div>
      <div class="col-md-8">
        <form [formGroup]="form">

          <!-- general options content -->
          <div class="form-block" *ngIf="activeContent === 2">
            <h4>General Settings</h4>
            <div class="form-group">
              <label for="showSplash">Show Splash Screen</label>
              <div class="toggle-switch">
                <input type="checkbox" id="showSplash" formControlName="showSplash"
                  (change)="updateFormControl('showSplash')" />
                  <label for="showSplash"></label>
              </div>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'showSplash' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'showSplash' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>

            <div class="form-group">
              <label for="allowSaveComment">Allow Save Comments</label>
              <div class="toggle-switch">
                <input type="checkbox" id="allowSaveComment" formControlName="allowSaveComment"
                  (change)="updateFormControl('allowSaveComment')" />
                  <label for="allowSaveComment"></label>
              </div>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'allowSaveComment' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'allowSaveComment' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>

            <div class="form-group">
              <label for="userDataPath">User Data Directory</label>
              <input #userDataPath class="form-control" type="text" id="userDataPath" formControlName="userDataPath"
                placeholder="Enter user data directory" (ngModelChange)="updateFormControl('userDataPath')" />
              <file-picker [defaultPath]="userDataPath.value" [form]="form" [directory]="true" controlName="userDataPath"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'userDataPath' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'userDataPath' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>

            <div class="form-group">
              <label for="">Temp Directory</label>
              <input #tmpPath class="form-control" type="text" id="tmpPath" formControlName="tmpPath"
                placeholder="Enter System temp directory" (ngModelChange)="updateFormControl('tmpPath')" />
              <file-picker [defaultPath]="tmpPath.value" [form]="form" [directory]="true" controlName="tmpPath"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'tmpPath' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'tmpPath' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>

            <div class="form-group">
              <label for="">Publish Directory</label>
              <input #publishPath class="form-control" type="text" id="publishPath" formControlName="publishPath"
                placeholder="Enter publish directory" (ngModelChange)="updateFormControl('publishPath')" />
              <file-picker [defaultPath]="publishPath.value" [form]="form" [directory]="true" controlName="publishPath"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'publishPath' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'publishPath' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>

            <div class="form-group">
              <label for="resetPrefs">Reset Preferences</label>
              <button id="resetPrefs" class="btn btn-default btn-sm" (click)="resetPrefs()">Reset</button>
            </div>

          </div>

          <!-- Third Party Apps | Sketching content -->
          <div class="form-block" *ngIf="activeContent === 4.1">
            <h4>Sketching</h4>
            <div class="form-group">
              <label for="defaultArtworkEditor">Default App</label>
              <div class="select">
                <select id="defaultArtworkEditor" formControlName="defaultArtworkEditor"
                (change)="updateFormControl('defaultArtworkEditor')">
                  <option [value]="undefined">Please select</option>
                  <option *ngFor="let editor of supportedEditors" [value]="editor.value">
                    {{ editor.value }}
                  </option>
                </select>
              </div>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'defaultArtworkEditor' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'defaultArtworkEditor' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
          </div>

          <!-- Third Party Apps | Photoshop content -->
          <div class="form-block" *ngIf="activeContent === 4.2">
            <h4>Photoshop</h4>
            <div class="form-group">
              <label for="photoshopExecutablePath">Executable</label>
              <input class="form-control" type="text" id="photoshopExecutablePath" #photoshopExePath
                formControlName="photoshopExecutablePath"
                placeholder="Enter Photoshop executable directory"
                (ngModelChange)="updateFormControl('photoshopExecutablePath')" />
              <file-picker [defaultPath]="photoshopExePath.value" [form]="form" controlName="photoshopExecutablePath"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'photoshopExecutablePath' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'photoshopExecutablePath' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
            <div class="form-group">
              <label for="psOpenBehaviour">Panel Open Behavior</label>
              <div class="select">
                <select id="psOpenBehaviour" formControlName="psOpenBehaviour"
                (change)="updateFormControl('psOpenBehaviour')">
                  <option [value]="undefined">Please select</option>
                  <option *ngFor="let behaviour of photoshopOpenBehaviours" [value]="behaviour.id">
                    {{ behaviour.value }}
                  </option>
                </select>
              </div>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'psOpenBehaviour' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'psOpenBehaviour' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
            <div class="form-group">
              <label for="installPlugins">Install Plugins</label>
              <button id="installPlugins" class="btn btn-default btn-sm" [disabled]="disablePsPluginsInstall" (click)="installPsPlugins()">Install</button>
              <flix-spinner
                [showSpinner]="installingPlugins"
                [type]="'spinner spinner-inline'">
              </flix-spinner>
            </div>
          </div>

          <!-- Third Party Apps | Story board pro content -->
          <div class="form-block" *ngIf="activeContent === 4.3">
            <h4>Storyboard Pro</h4>
            <div class="form-group">
              <label for="sbpDirectory">Executable</label>
              <input class="form-control" type="text" id="sbpDirectory" formControlName="sbpDirectory"
                placeholder="Enter Storyboard Pro executable" #sbpDirPath
                (ngModelChange)="updateFormControl('sbpDirectory')" />
              <file-picker [defaultPath]="sbpDirPath.value" [form]="form" controlName="'sbpDirectory'"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'sbpDirectory' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'sbpDirectory' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
            <div class="form-group">
              <label for="sbpImportDirectory">Import directory</label>
              <input class="form-control" type="text" id="sbpImportDirectory" formControlName="sbpImportDirectory"
                placeholder="Enter Storyboard Pro import directory" #sbpImportPath
                (ngModelChange)="updateFormControl('sbpImportDirectory')" />
              <file-picker [defaultPath]="sbpImportPath.value" [form]="form" [directory]="true" controlName="'sbpImportDirectory'"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'sbpImportDirectory' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'sbpImportDirectory' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
          </div>

          <!-- Third Party Apps | TV Paint content -->
          <div class="form-block" *ngIf="activeContent === 4.4">
            <h4>TV Paint</h4>
            <div class="form-group">
              <label for="tvPaintDirectory">Executable</label>
              <input class="form-control" type="text" id="tvPaintDirectory" formControlName="tvPaintDirectory"
                placeholder="Enter TV Paint executable" #tvPaintDirPath
                (ngModelChange)="updateFormControl('tvPaintDirectory')" />
              <file-picker [defaultPath]="tvPaintDirPath.value" [form]="form" controlName="tvPaintDirectory"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'tvPaintDirectory' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'tvPaintDirectory' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
          </div>

          <!-- Asset Cache content -->
          <div class="form-block" *ngIf="activeContent === 6">
            <h4>Asset Storage</h4>
            <div class="form-group">
              <label for="assetCachePath">Asset Cache Directory</label>
              <input class="form-control" type="text" id="assetCachePath" formControlName="assetCachePath" #assetCachePath
                placeholder="Enter asset cache path" (ngModelChange)="updateFormControl('assetCachePath')" />
              <file-picker [defaultPath]="assetCachePath.value" [form]="form" [directory]="true" controlName="assetCachePath"></file-picker>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'assetCachePath' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'assetCachePath' && formUpdated && !showSpinner">
              </flix-spinner>
            </div>
          </div>

          <!-- Export content -->
          <div class="form-block export-file-names" *ngIf="activeContent === 7">
            <h4>Exporting</h4>
            <div class="form-group">
              <label for="fileNameFormat">Filename Format (Dialogue, Audio, JSON, CSV, QuickTime, PDF)</label>
              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'fileNameFormat' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'fileNameFormat' && formUpdated && !showSpinner">
              </flix-spinner>

              <input class="form-control col-md-12" type="text" id="fileNameFormat" formControlName="fileNameFormat"
                placeholder="File name format" (ngModelChange)="updateFormControl('fileNameFormat')" />
            </div>
            <div class="form-group">
              <label for="exportArtworkFilenameFormat">Filename Format (Original Artwork, Image)</label>

              <flix-spinner
                [showSpinner]="lastFormControlUpdated === 'exportArtworkFilenameFormat' && showSpinner"
                [icon]="'check'"
                [type]="'spinner spinner-inline'"
                [message]="'Saved'"
                [showMessage]="lastFormControlUpdated === 'exportArtworkFilenameFormat' && formUpdated && !showSpinner">
              </flix-spinner>

              <input (blur)="onExportingInputFocus(false)" (focus)="onExportingInputFocus(true)" class="form-control col-md-12" type="text" id="exportArtworkFilenameFormat" formControlName="exportArtworkFilenameFormat"
                     placeholder="File name format (artwork)" (ngModelChange)="updateFormControl('exportArtworkFilenameFormat')" />

              <div class="valid-filename-sections">
                <span class="label">{{ showTitle }}</span>
                <span class="label">{{ showTracking }}</span>
                <span class="label">{{ sequenceTitle }}</span>
                <span class="label">{{ sequenceTracking }}</span>
                <span class="label">{{ shotNumber }}</span>
                <span class="label" [ngClass]="{'disabled' : !exportArtworkInputFocus}">{{ panelId }}</span>
                <span class="label" [ngClass]="{'disabled' : !exportArtworkInputFocus}">{{ panelRevision }}</span>
              </div>
            </div>
          </div>

          <!-- Shots & Markers -->
            <div class="form-block" *ngIf="activeContent === 8">
              <h4>Shots & Markers</h4>
              <div class="form-group">
                <label for="">Marker Name Format</label>
                <input class="form-control" type="text" id="markerName" formControlName="markerName" placeholder="Enter marker name format" (ngModelChange)="updateFormControl('markerName')" />
                <div>
                  <span class="label">{{ showTitle }}</span>
                  <span class="label">{{ showTracking }}</span>
                  <span class="label">{{ sequenceTitle }}</span>
                  <span class="label">{{ sequenceTracking }}</span>
                  <span class="label">{{ shotNumber }}</span>
                  </div>
                <flix-spinner
                  [showSpinner]="lastFormControlUpdated === 'markerName' && showSpinner"
                  [icon]="'check'"
                  [type]="'spinner spinner-inline'"
                  [message]="'Saved'"
                  [showMessage]="lastFormControlUpdated === 'markerName' && formUpdated && !showSpinner">
                </flix-spinner>
              </div>
            </div>
            <!-- Audio -->
            <div class="form-block" *ngIf="activeContent === 9">
              <h4>Audio</h4>
              <div class="form-group">
                <label for="audioInputDevice">Input Device</label>
                <div class="select">
                  <select id="audioInputDevice" formControlName="audioInputDevice"
                  (change)="updateFormControl('audioInputDevice')">
                    <option *ngFor="let audioInput of audioService?.getInputDevices() || []" [value]="audioInput.deviceId">
                      {{ audioInput?.label }}
                    </option>
                  </select>
                </div>

                <flix-spinner
                  [showSpinner]="lastFormControlUpdated === 'audioInputDevice' && showSpinner"
                  [icon]="'check'"
                  [type]="'spinner spinner-inline'"
                  [message]="'Saved'"
                  [showMessage]="lastFormControlUpdated === 'audioInputDevice' && formUpdated && !showSpinner">
                </flix-spinner>
              </div>

              <div class="form-group">
                <label for="audioOutputDevice">Output Device</label>
                <div class="select">
                  <select id="audioOutputDevice" formControlName="audioOutputDevice"
                  (change)="updateFormControl('audioOutputDevice')">
                    <option *ngFor="let audioOutput of audioService?.getOutputDevices() || []" [value]="audioOutput.deviceId">
                      {{ audioOutput?.label }}
                    </option>
                  </select>
                </div>

                <flix-spinner
                  [showSpinner]="lastFormControlUpdated === 'audioOutputDevice' && showSpinner"
                  [icon]="'check'"
                  [type]="'spinner spinner-inline'"
                  [message]="'Saved'"
                  [showMessage]="lastFormControlUpdated === 'audioOutputDevice' && formUpdated && !showSpinner">
                </flix-spinner>
              </div>

            </div>
        </form>
      </div>
    </div>
  </div>
</clr-modal>
