@import '../../sass/variables';

:host::ng-deep {

  .sidebar {
    padding-top: 10px;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    border-right: 3px solid $scorpion;
    background-color: $mine-shaft-darker;
  }

  .prefs {
    height: 100%;
  }

  .modal-body,
  .modal-dialog,
  .modal-content-wrapper,
  .modal-content {
    height: 100%;
  }

  form {
    margin-top: 0;
    padding-top: 0;

    .form-block {
      margin-top: 0;

      &.export-file-names {
        .form-group + .form-group {
          margin-top: 50px;
        }
      }
    }

    .valid-filename-sections {
      margin-top: 30px;

      .label.disabled {
        color: $disabled-grey;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: $default-padding;
    }
  }
}
