:host {
  height: 1rem;

  .btn-group {
    margin-right: 0;

    .radio.btn {
      padding: 0 3px 0 0;
      min-width: 20px;
      display: inline-block;
      height: 1rem;

      label {
        width: 20px;
        height: 20px;
      }
    }
  }
}
