<div class="btn-group">
    <div class="radio btn" *ngFor="let colour of colours">
      <input type="radio" name="annotation-btns" id="{{colour.name}}">
      <label for="{{colour.name}}" [ngStyle]="{'background-color': colour.hex}" (mouseup)="mouseUpHandler($event, colour)">
      </label>
    </div>
  </div>
