<div class="shows-browser">
  <div class="row">
    <div class="col-sm-10"><h3>Shows</h3></div>
    <div class="col-sm-2 text-right">
      <div class="btn-group">
        <button title="Create new show" (click)="newShow()" class="btn">
          <clr-icon shape="plus"></clr-icon>
          <span>new show</span>
        </button>
      </div>
    </div>
  </div>
  <div class="shows-list" *ngIf="shows">
    <flix-shows-list-item
      *ngFor="let show of shows"
      (onDelete)="deleteShow(show)"
      (onEdit)="editShow(show)"
      (onNewSeason)="copyShow(show)"
      [show]="show">
    </flix-shows-list-item>
  </div>
  <span *ngIf="!shows && !showsLoadFailed" class="spinner spinner-inline">Loading...</span>
  <flix-show-form (onSave)="onSave(show)" #newShowForm></flix-show-form>
  <div *ngIf="showsLoadFailed">Could not load shows.</div>
</div>
