@import "../../sass/variables";

.shows-browser {
  padding: 20px;
  width: 100%;
  height: 100%;

  .shows-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
