@import '../../sass/variables';

.login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.login-wrapper {
  width: 400px;
  height: 100%;
  border-right: 1px dashed $scorpion;
  background-color: lighten($mine-shaft-dark, 1);

  form {
    width: 100%;
    background: none;
  }

  .input-group {
    margin-bottom: 25px;

    .tooltip,
    .tooltip input {
      width: 100%;
    }
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
