<div class="login-background"></div>
<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="login($event)">
    <label>
      <app-flix-logo></app-flix-logo>
    </label>

    <div class="login-group">

      <div class="input-group">
        <label for="login_hostname" aria-haspopup="true" role="tooltip" [ngClass]="{ 'invalid': loginForm.controls.hostname.invalid && loginForm.controls.hostname.dirty }" class="tooltip tooltip-validation tooltip-md">
          <input formControlName="hostname" required pattern="https?://.+" type="text" id="login_hostname" placeholder="Server Hostname">
          <span *ngIf="loginForm.controls.hostname.errors" class="tooltip-content">
            <span *ngIf="loginForm.controls.hostname.errors.hasOwnProperty('pattern')">Hostname is invalid</span>
            <span *ngIf="loginForm.controls.hostname.errors.hasOwnProperty('required')">Hostname cannot be empty</span>
          </span>
        </label>
      </div>

      <div class="input-group">
        <label for="login_username" aria-haspopup="true" role="tooltip" [ngClass]="{ 'invalid': loginForm.controls.username.invalid && loginForm.controls.username.dirty }" class="tooltip tooltip-validation tooltip-md">
          <input formControlName="username" type="text" id="login_username" placeholder="Username">
          <span class="tooltip-content">
            Username cannot be empty
          </span>
        </label>
      </div>

      <div class="input-group">
        <label for="login_password" aria-haspopup="true" role="tooltip" [ngClass]="{ 'invalid': loginForm.controls.password.invalid && loginForm.controls.password.dirty }" class="tooltip tooltip-validation tooltip-md">
          <input [attr.autofocus]="auth.previousUser" formControlName="password" type="password" id="login_password" placeholder="Password">
          <span class="tooltip-content">
            Password cannot be empty
          </span>
        </label>
      </div>

      <div class="checkbox">
        <input type="checkbox" formControlName="remember" id="rememberme">
        <label for="rememberme">
          Remember me
        </label>
      </div>

      <div *ngIf="loginForm.errors || error" [ngSwitch]="errorMessage" class="error active">
        <span *ngSwitchCase="'Unauthenticated'">Invalid user name or password</span>
        <span *ngSwitchDefault>{{ errorMessage }}</span>
      </div>

      <button type="submit" *ngIf="!processing" [disabled]="!loginForm.valid" class="btn">Login</button>

      <div *ngIf="processing">
        <span class="spinner spinner-inline">Loading...</span>
        <span>Loading...</span>
      </div>
    </div>
  </form>
</div>
