@import "../../../../sass/variables";

:host,
:host /deep/ my-date-range-picker {
  display: block;
}
:host {
  padding-top: 5px;
}
.filter-by-date-range {
  padding: 0;
}
.filter-by-date-range__input {
  width: 145px;
  color: $light-grey;
}
:host /deep/ my-date-range-picker .selectiongroup,
:host /deep/ my-date-range-picker .mydrp .btnpicker,
:host /deep/ my-date-range-picker .mydrp .btnclear {
  background: transparent;
}
:host /deep/ my-date-range-picker .mydrp,
:host /deep/ my-date-range-picker .mydrp .btnpicker,
:host /deep/ my-date-range-picker .mydrp .selectiongroup,
:host /deep/ my-date-range-picker .mydrp .selection {
  border-radius: 0;
}
:host /deep/ my-date-range-picker .mydrp {
  border-color: transparent;
}
:host /deep/ my-date-range-picker .mydrp .btnpicker,
:host /deep/ my-date-range-picker .mydrp .btnclear {
  color: $white;
}
:host /deep/ my-date-range-picker .mydrp .selection {
  display: none;
}
:host /deep/ my-date-range-picker .mydrp .selectorarrow:after,
:host /deep/ my-date-range-picker .mydrp .selectorarrow:before {
  margin-left: -20px;
}
