<div (click)="handlePanelClick($event)"
  class="panel-card d-flex flex-column h-100"
  id="panel{{ panel.id }}"
  [ngClass]="{
    'current-from-selected': selectedInSelected,
    'clickable': clickable,
    'selected': panel.selected
  }">
  <div class="panel-block d-flex flex-column">
    <h4 *ngIf="scale > 0.4 && !hideTitle" class="panel-title">
      {{ panel.id }}
    </h4>
    <div class="panel-image d-flex flex-column justify-content-center">
      <asset-image-thumbnail [panel]="panel" [type]="assetType"></asset-image-thumbnail>
    </div>
  </div>
  <div class="dialogue-container" [innerHTML]="dialogue?.text"></div>
</div>
