@import '../../../sass/mixins';
@import '../../../sass/variables';

:host {
  position: relative;
  display: block;
  height: 100%;
}

.panel-card {
  @include dialogue-panel-card;
  background-color: darken($mine-shaft-dark, 4%);

  .panel-block {
    font-size: $default-font-size;
    width: 100%;
    flex-grow: 1;

    .panel-title {
      font-size: 0.6rem;
      color: $white;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      line-height: 0.6rem;
      padding: 5px;
    }

    .panel-icons clr-icon {
      vertical-align: top;
    }

    .panel-image {
      width: 100%;
      background-color: $white;
      flex-grow: 1;
      min-height: 100px;
    }

    .panel-image > img {
      max-width: 100%;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: 100%;
    }
  }

  .dialogue-container {
    padding: 10px;
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    background: $mine-shaft-light;
    font-size: 0.6rem;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.selected {
  border-color: $brand-primary;

  .card-title {
    color: $white;
  }

  &.current-from-selected {
    background-color: $black;
  }
}
