<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="true">
  <h3 class="modal-title">
    <span *ngIf="!publishing && !currentRevision?.published && !error">Publish to Editorial</span>
    <span *ngIf="publishing">Publishing to Editorial</span>
    <span *ngIf="currentRevision?.published">Published to Editorial</span>
  </h3>
  <div class="modal-body">
    <form [formGroup]="publishForm" novalidate *ngIf="!publishing && !currentRevision?.published && !error">
      <section class="form-block">
        <div class="form-group">
            <label>Generate Contact Sheet</label>
            <div class="checkbox">
              <input checked type="checkbox" id="pdf" formControlName="toPdf" />
              <label for="pdf"></label>
            </div>
          </div>
          <div class="form-group">
          <label class="marker-type-label">Marker Type</label>
          <div class="radio-inline">
            <input type="radio" formControlName="markerType" id="markerTypeTimeline" value="Timeline">
            <label for="markerTypeTimeline">Timeline</label>
          </div>
          <div class="radio-inline">
            <input type="radio" formControlName="markerType" id="markerTypeClip" value="Clip">
            <label for="markerTypeClip">Clip</label>
          </div>
        </div>
      </section>
    </form>
    <div *ngIf="publishing">
      <div class="progress loop">
        <progress></progress>
      </div>
    </div>
    <div *ngIf="currentRevision?.published">
      <span class="success"><clr-icon shape="check" size="28"></clr-icon></span>
      <p>This sequence revision has already been published, click the button to reveal the published files</p>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">{{error}}</span>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="!error" class="modal-footer">
    <button *ngIf="!publishing && !currentRevision?.published" type="button" class="btn" (click)="close()">Cancel</button>
    <button *ngIf="!publishing && !currentRevision?.published" type="button" class="btn btn-success" (click)="publish()">Publish</button>
    <button *ngIf="currentRevision?.published" type="button" class="btn btn-primary" (click)="openLastXmlPublish()">Open</button>
    <button *ngIf="currentRevision?.published" type="button" class="btn btn-primary" (click)="close()">Close</button>
    <button *ngIf="publishing" type="button" class="btn btn-warning" (click)="abortPublish()">Cancel</button>
  </div>
</clr-modal>
