@import '../../sass/mixins';
@import '../../sass/variables';

:host {
  .success {
    @include icon-badge(40px, $success-font-clr);
  }

  .form-group {
    margin: 0;
  }

  .marker-type-label {
    display: block;
  }

  .radio-inline:nth-of-type(2){
    padding-left: 15px;
  }
}
