@import "../../sass/variables";

:host {
  input[type=text].list-filter {
    margin-right: 1rem;
    min-width: 30%;
  }

  .show-hidden-check {
    margin-left: 25px;
    font-size: 80%;
    color: $scorpion;

    input[type=checkbox] {
      margin-right: 5px;
    }
  }
}
