<div class="flix-container flix-container-padded">
  <div class="page-header">
    <div class="btn-group">
      <button title="Create new sequence" (click)="newSequence()" class="btn">
        <clr-icon shape="plus"></clr-icon>
        <span>new sequence</span>
      </button>
    </div>
    <h3>Sequences</h3>
  </div>
  <div class="content">
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-placeholder>
        <clr-icon shape="exclamation-triangle" size="30"></clr-icon> There are no Sequences for this Show
      </clr-dg-placeholder>
      <clr-dg-action-bar>
        <list-filter></list-filter>
        <div class="show-hidden-check toggle-switch">
            <input type="checkbox" id="toggle_5" [value]="showHidden" (click)="toggleShowHidden()">
            <label for="toggle_5">Show OOP</label>
        </div>
      </clr-dg-action-bar>
      <clr-dg-column [clrDgField]="'act'">
          <ng-container>
              Act
          </ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'tracking'">
          <ng-container>
              Tracking
          </ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'description'">
          <ng-container>
              Title
          </ng-container>
      </clr-dg-column>
      <clr-dg-column>
          <ng-container>
              Comments
          </ng-container>
      </clr-dg-column>
      <clr-dg-column>
          <ng-container>
              Last Revision
          </ng-container>
      </clr-dg-column>
      <clr-dg-row *clrDgItems="let sequence of getSequence() | filter : listFilter.keyword : ['tracking', 'description', 'act', 'comment']" [clrDgItem]="sequence">
        <clr-dg-cell [routerLink]="getRevisionsUrl(sequence.id)">{{ sequence.act }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getRevisionsUrl(sequence.id)">{{ sequence.tracking }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getRevisionsUrl(sequence.id)">{{ sequence.description }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getRevisionsUrl(sequence.id)">{{ sequence.comment || "--" }}</clr-dg-cell>
        <clr-dg-cell [routerLink]="getRevisionsUrl(sequence.id)">#{{ sequence.numRevisions }} on {{ sequence.createdDate | date }} by {{ sequencesRevisedByMapping[sequence.id] || "--" }}</clr-dg-cell>
        <clr-dg-action-overflow>
          <button (click)="edit(sequence)" class="action-item">Edit</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <clr-dg-footer>
        {{ getSequence().length }} sequences
      </clr-dg-footer>
    </clr-datagrid>
  </div>

</div>
<flix-sequence-browser-form [showId]="showId" [episodeId]="episodeId" (onSave)="loadSequences()"></flix-sequence-browser-form>
