@import "../../../../sass/variables";

.sequence-info {
  display: flex;
  flex: 1;
  font-size: 10px;

  div {
    display: inline-block;
    margin-right: 10px;
    color: rgb(217, 217, 217);
    label {
      color: $white;
      margin-right: 4px;

      &::after {
        content: ":"
      }
    }
  }
}
