<div class="sequence-info">
  <div class="sequence-audio">
    <a *ngIf="sequenceRevision.movieAssetId" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md" (click)="showVideoFile($event)">
      <clr-icon shape="video-camera" class="is-solid"></clr-icon>
      <span class="tooltip-content">Open Sequence {{lastImported.id}} reference video.</span>
    </a>
    <a *ngIf="sequenceRevision.audioAssetId" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
        <clr-icon shape="volume-up" class="is-solid"></clr-icon>
        <span class="tooltip-content">This sequence has audio.</span>
    </a>
  </div>
  <div class="panels">
    <div><label>Panels</label><span class="panels-count">{{ panels.length }}</span></div>
  </div>
  <div class="frames">
    <div><label>Frames</label><span class="frames-count">{{ frames }}</span></div>
  </div>
  <div class="selected-panel">
    <div><label>Selected Panel</label><span class="panel-selected">{{ selectedPanels.length }}</span></div>
  </div>
</div>
