<clr-datagrid>
  <clr-dg-placeholder>No users exist.</clr-dg-placeholder>
  <clr-dg-column>User id</clr-dg-column>
  <clr-dg-column>User name</clr-dg-column>
  <clr-dg-column>Email</clr-dg-column>
  <clr-dg-column>Created</clr-dg-column>
  <clr-dg-column>Admin</clr-dg-column>
  <clr-dg-row *ngFor="let user of users"
    (click)="selectUser(user)"
    [class.selected]="selectedUser && selectedUser.id === user.id">
    <clr-dg-cell>{{ user.id }}</clr-dg-cell>
    <clr-dg-cell>{{ user.username }}</clr-dg-cell>
    <clr-dg-cell>{{ user.email }}</clr-dg-cell>
    <clr-dg-cell>{{ user.created_date | date: 'medium' }}</clr-dg-cell>
    <clr-dg-cell>
        <clr-icon *ngIf="user.is_admin" shape="check"></clr-icon>
        <clr-icon *ngIf="!user.is_admin" shape="times"></clr-icon>
      </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
