@import "../../../../sass/variables";

$filter-by-panel-id-width: 85px;

.filter-by-panel-id {
  padding: 0;
}
.filter-by-panel-id__input {
  width: $filter-by-panel-id-width;
  min-width: $filter-by-panel-id-width;
  color: $light-grey;
}
