<div class="panel-library-element" [class.selected]="panel.selected">
  <div class="panel-image" flixAspectRatio (dblclick)="openArtwork(panel)">
    <asset-image-thumbnail *ngIf="panelAssetsLoaded" [panel]="panel" [type]="assetType"></asset-image-thumbnail>
  </div>
  <div class="d-flex">
    <div class="panel-id flex-one-auto">
      <clr-icon shape="plus-circle" class="is-highlight" (click)="addPanelToSequence(panel)"></clr-icon>
    </div>
    <div class="panel-id flex-one-auto">{{ panel?.id }}-{{ panel?.revisionID }}</div>
    <div class="panel-index p-r-5">{{ index }}</div>
  </div>
</div>
