@import "../../../sass/mixins";
@import "../../../sass/variables";

:host {
  width: 110px;
  height: 90px;
  margin: 5px;
  background: $mine-shaft-light;

  .panel-library-element {
    border: solid transparent 2px;
    padding: 5px 5px 2px 5px;

    &.selected {
      border-color: $brand-primary;
    }
  }

  .panel-id {
    @include panel-id;
  }

  .panel-index {
    @include panel-index;
  }

  .panel-image {
    @include panel-image;
  }

  /deep/ clr-icon {
    cursor: pointer;
  }
}
