@import '../../sass/variables';

:host {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
  background: $mine-shaft-dark;
  box-shadow: $default-box-shadow;
}
