
<clr-tabs>
  <clr-tab>
    <button clrTabLink>Downloads</button>
    <clr-tab-content *clrIfActive="true">
        <section id="downloads-panel">
            <div class="flix-container flix-container-padded">
              <div class="page-header">
                  <h4>File Transfer History</h4>
              </div>
              <div class="content">
                <clr-datagrid class="datagrid-compact">
                  <clr-dg-placeholder><clr-icon shape="cloud" size="30"></clr-icon> The transfer queue is currently empty.</clr-dg-placeholder>
                  <clr-dg-column>#</clr-dg-column>
                  <clr-dg-column>Name</clr-dg-column>
                  <clr-dg-column>Progress</clr-dg-column>
                  <clr-dg-column>Size</clr-dg-column>
                  <clr-dg-row *clrDgItems="let transfer of getTransfers(); trackBy: trackByFN" [clrDgItem]="transfer">
                    <clr-dg-cell>
                      <clr-icon *ngIf="transfer.type === 0" shape="upload"></clr-icon>
                      <clr-icon *ngIf="transfer.type === 1" shape="download"></clr-icon>
                    </clr-dg-cell>
                    <clr-dg-cell>{{ transfer.asset.name | slice:0:5 }}</clr-dg-cell>
                    <clr-dg-cell>{{ transfer.progress }}%</clr-dg-cell>
                    <clr-dg-cell>{{ transfer.totalBytes }}</clr-dg-cell>
                  </clr-dg-row>
                  <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="50">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} transfers
                    </clr-dg-pagination>
                  </clr-dg-footer>
                </clr-datagrid>
              </div>
            </div>
          </section>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Transcodes</button>
    <clr-tab-content>
      <section id="transcodes-panel">
          <div class="flix-container flix-container-padded">
            <div class="page-header">
                <h4>File Transcoding jobs</h4>
                <clr-icon class="link" shape="refresh" (click)="getTranscodeJobs()"></clr-icon>
            </div>
            <div class="content">
              <clr-datagrid class="datagrid-compact">
                <clr-dg-placeholder><clr-icon shape="cloud" size="30"></clr-icon> There are no active transcoding jobs.</clr-dg-placeholder>
                <clr-dg-column>Id</clr-dg-column>
                <clr-dg-column>Asset id</clr-dg-column>
                <clr-dg-column>Started date</clr-dg-column>
                <clr-dg-row *clrDgItems="let transcode of transcodeJobs.jobs; trackBy: trackByFN" [clrDgItem]="transcode">

                  <clr-dg-cell>{{ transcode.id }}</clr-dg-cell>
                  <clr-dg-cell>{{ transcode.asset_id }}</clr-dg-cell>
                  <clr-dg-cell>{{ transcode.started_date }}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                  <clr-dg-pagination #pagination [clrDgPageSize]="50">
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                      of {{pagination.totalItems}} transcoding jobs
                  </clr-dg-pagination>
                </clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
        </section>

    </clr-tab-content>
  </clr-tab>
</clr-tabs>
