<clr-modal [clrModalOpen]="isImporting()" [clrModalClosable]="false">
  <h3 class="modal-title">Importing...</h3>
  <div class="modal-body">
    <p><span class="spinner spinner-inline"></span> Uploading {{ importService.importFilesCount }} assets into the sequence.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="abortImporting()">Cancel</button>
  </div>
</clr-modal>
