// Clarity Dependency SCSS
@import '~clarity-ui/src/utils/dependencies.clarity'; // Includes light theme
@import '~clarity-ui/src/utils/theme.dark.clarity'; // Overwrites with dark theme

@import '~ion-rangeslider/css/ion.rangeSlider.css';
@import 'ion.slider.scss';

@import '../colors';

// input and select
$clr-input-border-color: $brand-primary;
$clr-select-border-color: $brand-primary;

$clr-form-field-border-color: $emporer;

// generic variables
$clr-global-app-background: $mine-shaft-dark;
$clr-global-hover-bg-color: $mine-shaft-light;
$clr-login-background-color: $mine-shaft-dark;
$clr-header-bgColor: $mine-shaft-light;
$clr-global-selection-color: lighten($mine-shaft-light, 10%);
$clr-custom-links-hover-color: lighten($mine-shaft-light, 5%);

// default button
$clr-btn-default-color: $swirl;
$clr-btn-border-color: $swirl;
$clr-btn-default-bg-color: $mine-shaft-light;
$clr-btn-default-hover-bg-color: $mine-shaft-dark;
$clr-btn-default-hover-color: $white;
$clr-btn-default-outline-disabled-color: $mine-shaft-light;
$clr-btn-default-outline-disabled-border-color: $mine-shaft-light;

// Default outline button
$clr-btn-default-outline-color: $swirl;
$clr-btn-default-outline-bg-color: $mine-shaft-light;
$clr-btn-default-outline-hover-bg-color: $mine-shaft-dark;
$clr-btn-default-outline-hover-color: $swirl;

// Primary button
$clr-btn-primary-color: $swirl;
$clr-btn-primary-bg-color: $mine-shaft-light;
$clr-btn-primary-border-color: $swirl;
$clr-btn-primary-hover-bg-color: $mine-shaft-dark;
$clr-btn-primary-hover-color: $white;

// Success button
$clr-btn-success-color: $swirl;
$clr-btn-success-bg-color:$success;
$clr-btn-success-hover-bg-color: darken($success, 10);
$clr-btn-success-hover-color: $white;

// link button
$clr-btn-link-color: $swirl;
$clr-btn-link-hover-color: $white;

// link
$clr-link-active-color: $swirl;
$clr-link-color: $swirl;
$clr-link-hover-color: $white;
$clr-link-visited-color: $swirl;

// card
$clr-card-bg-color: $mine-shaft-light;

// datagrid
$clr-datagrid-row-hover: lighten($mine-shaft-dark, 1);
$clr-datagrid-row-selected: lighten($mine-shaft-dark, 1);
// action items background colour
$clr-datagrid-popover-bg-color: $mine-shaft-light;
// action items border colour
$clr-datagrid-popover-border-color: darken($mine-shaft-light, 50);
// action items mouse hover colour
$clr-datagrid-action-popover-hover-color: $mine-shaft-dark;

// table
$clr-thead-bgcolor: darken($mine-shaft-light, 1);
$clr-table-bgcolor: $mine-shaft-dark;
$clr-table-font-color: $swirl;
$clr-table-border-color: darken($mine-shaft-dark, 4);
$clr-table-header-border-bottom-color: $clr-table-border-color;
$clr-table-footer-border-top-color: $clr-table-border-color;
$clr-tablerow-bordercolor: $clr-table-border-color;
$clr-table-bordercolor: $clr-table-border-color;
$clr-table-borderstyle: $clr-table-borderwidth solid $clr-table-border-color;

// modal
$clr-modal-bg-color: $mine-shaft-dark;

// wizard
$clr-wizard-sidenav-bgcolor: $mine-shaft-light;

// form elements
$clr-checkbox-checkmark-color: $swirl;
$clr-checkbox-color: $black;
$clr-form-field-background-color: $black;
$clr-outline-color: $mine-shaft-dark;
$clr-radio-checked-box-shadow: inset 0 0 0 0.25rem $brand-primary;
$clr-radio-focused-box-shadow: 0 0 $clr-outline-blur $clr-outline-spread transparent;

// progress bar
$clr-progress-bgColor: $scorpion;
$clr-progress-defaultBarColor: $brand-primary;

// dropdown
$clr-dropdown-bg-color: $mine-shaft-light;
$clr-dropdown-bg-active-color: $mine-shaft-dark;
$clr-dropdown-bg-hover-color: $mine-shaft-dark;

// tree
$clr-tree-link-selection-color: $clr-global-selection-color;
$clr-tree-link-hover-color: $clr-custom-links-hover-color;

// Clarity Component SCSS
@import '~clarity-ui/src/utils/components.clarity';

clr-datagrid {
  height: calc(100% - 25px);
}

// icons
clr-icon.is-inverse {
  fill: $black;

  &:hover {
    fill: $white;
  }
}

clr-dg-cell[ng-reflect-router-link] {
  cursor: pointer;
}

textarea {
  background-color: $mine-shaft-light;
}

.clr-wizard .clr-wizard-stepnav-item.active .clr-wizard-stepnav-link {
  background-color: $mine-shaft-dark;
}

.btn.btn-outline, .btn.btn-outline .btn, .btn.btn-info-outline, .btn-info-outline .btn, .btn.btn-outline-info, .btn-outline .btn {
  border-color: $mine-shaft-darker;
}

.nav .nav-link:hover, .nav .nav-link.active {
  -webkit-box-shadow: 0 -3px 0 $brand-primary inset;
  box-shadow: 0 -3px 0 $brand-primary inset;
}

button.nav-link {
  background: none;
  border: none;
}


clr-icon.is-highlight {
  fill: $brand-primary;
}

.spinner {
  -webkit-filter: hue-rotate(220deg) saturate(5);
  filter: hue-rotate(220deg) saturate(5);
}

.nav {
  box-shadow: 0 -1px 0 #616161 inset;
}

.table-no-margin {
  margin: 0px;
}
