<span id="{{button.id}}" class="toolbar__button" *ngFor="let button of buttons" (mouseleave)="blurHandler($event)">
  <button *ngIf="button.id.indexOf('separator') < 0" (mousedown)="mouseDownHandler(button, $event)" (mouseup)="mouseUpHandler(button, $event)"
    [ngClass]="{'selected': button.selected}" [disabled]="button.disabled">
    <clr-icon [ngStyle]="{'fill': button.colour}" [ngClass]="{'is-inverse': button.inverseIcon, 'is-solid': button.solidIcon}" [attr.shape]="button.shape" [attr.size]="button.size" [attr.title]="button.title"></clr-icon>
  </button>
  <span *ngIf="button.id.indexOf('separator') >= 0" class="separator"></span>

  <span *ngIf="button.submenu && button.id !== 'bookmark'" class="toolbar__caret">
    <clr-icon shape="angle" dir="down" size="10"></clr-icon>
  </span>
  <div *ngIf="button.submenu && (showSubmenu === button.id)" class="toolbar__submenu">
    <span id="{{button.title}}-submenu" class="toolbar__button" *ngFor="let subButton of button.submenu" [ngClass]="{'toolbar--vertical': vertical}">
        <button *ngIf="subButton.id.indexOf('separator') < 0"
                (blur)="showSubmenu = null" (mousedown)="mouseDownHandler(subButton, $event)" (mouseup)="mouseUpHandler(subButton, $event)"
                [ngClass]="{'selected': subButton.selected}" [disabled]="subButton.disabled">
          <clr-icon *ngIf="subButton.shape" [ngStyle]="{'fill': subButton.colour}" [ngClass]="{'is-inverse': subButton.inverseIcon, 'is-solid': subButton.solidIcon}" [attr.shape]="subButton.shape" [attr.size]="subButton.size" [attr.title]="subButton.title"></clr-icon>
          <p *ngIf="subButton.text" class="text">{{subButton.text}}</p>
          <p *ngIf="subButton.time" class="timestamp">{{subButton.time | date:'dd/MM/yy HH:mm:ss'}}</p>
        </button>
        <span *ngIf="subButton.id.indexOf('separator') >= 0" class="separator"></span>
    </span>
  </div>
</span>

<div class="toolbar__float">
  <span id="{{button.id}}" class="toolbar__button" *ngFor="let button of floatButtons">
    <button *ngIf="button.id.indexOf('separator') < 0"
      (blur)="showSubmenu = null" (mousedown)="mouseDownHandler(button, $event)" (mouseup)="mouseUpHandler(button, $event)"
      [ngClass]="{'selected': button.selected}" [disabled]="button.disabled">
      <clr-icon [ngStyle]="{'fill': button.colour}" [ngClass]="{'is-inverse': button.inverseIcon, 'is-solid': button.solidIcon}" [attr.shape]="button.shape" [attr.size]="button.size" [attr.title]="button.title"></clr-icon>
    </button>
    <span *ngIf="button.id.indexOf('separator') >= 0" class="separator"></span>

    <span *ngIf="button.submenu" class="toolbar__caret"><clr-icon shape="angle" dir="down" size="10"></clr-icon></span>
    <div *ngIf="button.submenu && showSubmenu" class="toolbar__submenu">
      <flix-toolbar [buttons]="button.submenu" (buttonPressed)="mouseDownHandler(button, $event)" [ngClass]="{'toolbar--vertical': vertical}"></flix-toolbar>
    </div>
  </span>
</div>
