@import '../../sass/variables';
@import '../../sass/mixins';

:host {
  flex-shrink: 0;
  flex-grow: 0;
  height: 2rem;
  display: inline-flex;
  border-top: $default-border;
  border-bottom: $default-border;
  background-color: $mine-shaft-light;
  line-height: 0rem;

  .toolbar__button {
    @include toolbar-button;
  }

  .toolbar__submenu {
    // display: none;
    position: absolute;
    left: 48px;
    top: 0;
    border-left: $default-border;
    z-index: 1;
    box-shadow: $default-box-shadow;
    background-color: $mine-shaft-light;

    button {
      white-space: nowrap;
      padding: 0 0.2rem 0 0.2rem;

      clr-icon {
        position: relative;
        display: inline-block;
        top: initial;
        left: initial;
        -webkit-transform: none;
        transform: none;
      }
    }

    p {
      &.text {
        width: 5.5rem;
        text-align: left;
      }

      white-space: nowrap;
      margin: 0;
      padding: 0 5px 0 5px;
      display: inline-block;
    }
  }

  .toolbar__caret {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .separator {
    border-right: $default-border;
    margin-left: 0.2rem;
    height: 2rem;
    display: inline-block;
  }

  .toolbar__float {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }

  &.toolbar--vertical {
    min-width: 2rem;
    height: 100%;
    flex-direction: column;
    border-top: none;

    .separator {
      height: auto;
      width: 2rem;
      border-right: none;
      border-bottom: $default-border;
    }

    .toolbar__float {
      flex-direction: column;
    }
  }

}
