<flix-panel-marker [panel]="panel"></flix-panel-marker>
<div #panelRef class="panel-card" id="panel{{ panel.id }}"
     [ngClass]="{
       'show-shot-ui': panel.showShotUi,
       'shot-first-panel': panel.shotFirstPanel,
       'shot-last-panel': panel.shotLastPanel,
       'current-from-selected': selectedInSelected,
       'clickable': clickable
     }">
  <clr-icon *ngIf="panel.highlightColour" class="is-solid panel-bookmark" [ngStyle]="{'color': panel.highlightColour}"  shape="bookmark" size="20"></clr-icon>
  <div class="panel-block" [ngClass]="{ 'selected': panel.selected }">
    <div class="right">
      <span *ngIf="panel.added || panel.updated" class="icon-badge-added">
        <clr-icon size="12" shape="plus" title="Added in revision"></clr-icon>
      </span>
      <span *ngIf="panel.deleted" class="icon-badge-deleted">
        <clr-icon size="12" shape="minus" title="Deleted in revision"></clr-icon>
      </span>
    </div>
    <div class="panel-icons">
      <clr-icon *ngIf="panel.openInEditor" shape="photoshop" title="Panel is open in Photoshop"></clr-icon>
      <clr-icon *ngIf="panel.artwork && panel.artwork.isAnimated()" shape="video-gallery" title="Animated Panel"></clr-icon>
      <clr-icon *ngIf="panel.hasAnnotation" shape="pencil" class="is-solid" title="Has an Annotation" (click)="handlePencilClick($event)"></clr-icon>
      <span *ngIf="panel.isRef()" class="badge right">Ref</span>

    </div>
    <div (click)="handlePanelClick($event)" class="panel-image" flixAspectRatio>
      <asset-image-thumbnail [panel]="panel" [type]="assetType"></asset-image-thumbnail>
    </div>
    <div *ngIf="!hideTitle" (click)="activateRevisionMenu($event)" class="panel-info">
      <div></div>
      <div class="panel-id">{{ panel.id }}<span *ngIf="panel.revisionID > 1" class="" title="Panel revision {{ panel.revisionID }}"> - {{ panel.revisionID }}</span></div>
      <div class="panel-index">{{ index + 1 }}</div>
    </div>
  </div>
</div>

<popup-panel #revisionPanel [popupId]="panel.id" [popupPosition]="'left'">
  <ng-template>
    <panel-revision-menu [panel]="panel" (onSelect)="changePanelRevision($event)" (onAdd)="addDuplicatePanel($event)" (onOpen)="openArtwork($event)"></panel-revision-menu>
  </ng-template>
</popup-panel>
