@import '../../../sass/mixins';
@import '../../../sass/variables';

:host {
  position: relative;
  display: block;
  margin-bottom: 1px;
  width: $default-panel-size + px;
  height: $default-panel-height + px;
}

.panel-card {
  @include panel-card;
  position: relative;
  // margin-top: -7px;
  background-color: darken($mine-shaft-dark, 4%);

  .panel-bookmark {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $pomegranate;

  }

  .panel-block {
    margin: 5px;
    padding: 10px;
    font-size: $default-font-size;
    width: 100%;
    border: solid 2px transparent;
    background-color: $mine-shaft-dark;

    .panel-info {
      cursor: pointer;
      margin: 0;
      margin-top: 4px;
      background-color: lighten($mine-shaft-dark, 4%);
      display: flex;
      height: 20px;

      div {
        flex-grow: 0;
        height: 100%;
        width: 15px;
        line-height: 20px;
      }

      .panel-id {
        flex-grow: 1;
        text-align: center;
        @include panel-id;
      }

      .panel-index {
        @include panel-index;
      }
    }

    .panel-icons {
      min-height: 1rem;

      clr-icon {
        vertical-align: middle;

        &[shape=pencil] {
          cursor: pointer;
        }
      }

    }

    .panel-image {
      @include panel-image;
    }
  }

  .selected {
    border-color: $brand-primary;

    .card-title {
      color: $white;
    }

    &.current-from-selected {
      background-color: $black;
    }
  }

  // add top and bottom borders
  &.show-shot-ui {
    border-top: 5px solid $scorpion;
    border-bottom: 5px solid $scorpion;
    border-left: none;
    border-right: none;
  }

  &.show-shot-ui::after {
    display: inline-block;
    box-sizing: border-box;
    width: 2px;
    background-color: transparent;
    content: '';
  }

  &.show-shot-ui::before {
    display: inline-block;
    box-sizing: border-box;
    width: 3px;
    background-color: transparent;
    content: '';
  }

  &.shot-last-panel::after {
    background-color: $scorpion;
  }

  &.shot-first-panel::before {
    background-color: $scorpion;
  }
}
