<div class="panels-library-search d-flex align-items-center">
  <app-filter-by-panel-id (setPanelId)="onSetPanelId($event)"></app-filter-by-panel-id>
  <app-filter-by-sequence-id
    [showId]="showId"
    [episodic]="episodic"
    (setSequenceId)="onSetSequenceId($event)"
    (setEpisodeId)="onSetEpisodeId($event)">
  </app-filter-by-sequence-id>
  <app-filter-by-owner-id (setOwnerId)="onSetOwnerId($event)"></app-filter-by-owner-id>
  <app-filter-by-date-range (setDateRange)="onSetDateRange($event)"></app-filter-by-date-range>
  <app-toggle-all-panel-revisions
    (setAllPanelRevisions)="onSetAllPanelRevisions($event)">
  </app-toggle-all-panel-revisions>
  <app-reset-filters (click)="resetFilters()"></app-reset-filters>
</div>
