.preview-img {
    margin: auto;

    img {
        width: auto;
        max-width: 150px;
        height: auto;
        max-height: 110px;
    }
}

input[type="file"] {
    display: none;
}

.btn-label {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.help-text {
  font-size: 80%;
}
