<clr-wizard #formWizard [(clrWizardOpen)]="open" [clrWizardSize]="'lg'" (clrWizardOnFinish)="submitForm()">
  <clr-wizard-title *ngIf="!editMode">Create Show</clr-wizard-title>
  <clr-wizard-title *ngIf="editMode">Edit Show</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'" data-test-id="show-modal-cancel" >Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" data-test-id="show-modal-next" >Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" data-test-id="show-modal-finish" >
    <span *ngIf="editMode">Update</span>
    <span *ngIf="!editMode">Create</span>
  </clr-wizard-button>
  <clr-wizard-page [clrWizardPageNextDisabled]="!pageOneForm.valid">
    <ng-template clrPageTitle>Details</ng-template>
    <form [formGroup]="pageOneForm" novalidate>
      <div *ngIf="previewImageErrors" class="alert alert-danger">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              <span *ngIf="previewImageErrors.notAnImage">
                Please select a valid image file.
              </span>
              <span *ngIf="previewImageErrors.tooBig">
                Chosen image is too large, please try another.
              </span>
              <span *ngIf="previewImageErrors.tooSmall">
                 Chosen image is too small, please try another.
              </span>
            </span>
          </div>
        </div>
      </div>
      <section class="form-block">
        <div class="form-group">
          <label class="required" for="description">Tracking Code</label>
          <input type="text" tabindex="1" formControlName="trackingCode" id="trackingCode" placeholder="Your tracking code" />
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <label for="title" role="tooltip" class="tooltip tooltip-validation tooltip-sm">
            <input type="text" tabindex="2" formControlName="title" id="title" placeholder="Your show title" />
          </label>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" tabindex="3" placeholder="Brief description of the show" formControlName="description"
            rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="description">Preview Image</label>
          <label class="btn btn-label" for="previewImage">
            Select image
            <input (change)="handleFileChange($event)" type="file" id="previewImage"/>
          </label>
          <span class="help-text">Maximum image size is {{config.showImgMaxWidth}}x{{config.showImgMaxHeight}}.</span>
          <div *ngIf="previewImage.value && !previewImageErrors" class="preview-img">
            <img *ngIf="previewImage.value[0]" [src]="getSafeUrl(previewImage.value[0].path)"/>
          </div>
        </div>
      </section>
    </form>
  </clr-wizard-page>
  <clr-wizard-page [clrWizardPageNextDisabled]="!pageTwoForm.valid">
    <ng-template clrPageTitle>Configuration</ng-template>
    <form [formGroup]="pageTwoForm" novalidate>
      <section class="form-block">
        <div class="form-group">
          <label class="required" for="frameRate">Frame Rate</label>
          <div class="select">
            <select id="frameRate" formControlName="frameRate">
              <option *ngFor="let rate of frameRates" [value]="rate">{{ rate }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="episodicToggle">Episodic</label>
          <div class="toggle-switch">
            <input type="checkbox" formControlName="episodic" id="episodicToggle">
            <label for="episodicToggle"></label>
          </div>
        </div>
        <div [hidden]="!pageTwoForm.value.episodic" class="form-group">
          <label class="required" for="season">Season</label>
          <input type="text" id="season" formControlName="season">
        </div>
        <div class="form-group">
          <label class="required" for="aspectRatio">Aspect Ratio</label>
          <div class="select">
            <select id="aspectRatio" formControlName="aspectRatio">
              <option *ngFor="let v of aspectRatios" [value]="v">{{ v }}</option>
              <!-- <option value="-1" [selected]="isCustomAspect(pageTwoForm.value.aspectRatio)">Custom</option> -->
            </select>
          </div>
          <!-- <label *ngIf="isCustomAspect(pageTwoForm.value.aspectRatio)" for="customAspectRatio" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-xs">
            <input type="text" numbersOnly [bounds]="{min: 1, max: 1000}" id="customAspectRatio" formControlName="customAspectRatio" placeholder="Custom Ratio">
            <span class="tooltip-content">
              This field is invalid
            </span>
          </label> -->
        </div>
      </section>
    </form>
  </clr-wizard-page>
</clr-wizard>
