<div class="container">
  <div class="scroller">
    <div class="col p-l-10 p-r-10">
      <h6>Revisions</h6>
      <div *ngFor="let panel of panels" class="revision">
        <div class="panel-wrapper" >
          <div class="panel-image" (click)="selectRevision(panel)">
            <div class="image" flixAspectRatio>
              <asset-image-thumbnail [panel]="panel" [type]="thumbnail"></asset-image-thumbnail>
            </div>
            <div class="info">{{ panel.id }} - {{ panel.revisionID }}</div>
          </div>
          <div class="panel-actions">
            <div (click)="onOpenPanel(panel)" ><clr-icon shape="photoshop"></clr-icon></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-l-10 p-r-10">
      <h6>Related</h6>
      <div *ngFor="let panel of originalsArt" class="revision">
        <div class="panel-wrapper" >
          <div class="panel-image" (click)="selectRevision(panel)">
            <div class="image" flixAspectRatio>
              <asset-image-thumbnail [panel]="panel" [type]="thumbnail"></asset-image-thumbnail>
            </div>
            <div class="info">{{ panel.id }} - {{ panel.revisionID }}</div>
          </div>
          <div class="panel-actions">
            <div (click)="onAddPanel(panel)" ><clr-icon shape="plus"></clr-icon></div>
            <div (click)="onOpenPanel(panel)" ><clr-icon shape="photoshop"></clr-icon></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
