@import '../../sass/mixins';
@import '../../sass/variables';

.container {
  width: 360px;
  height: 280px;
  padding: 0px;

  .scroller {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;

    .col:first-child {
      border-right: 2px solid $mine-shaft-dark;
    }

    .col {
      flex-basis: 0;
      flex-grow: 1;
      width: 100%;

      h6 {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .revision {
        background-color: $mine-shaft-dark;
        padding: 8px 0 8px 8px;
        margin-bottom: 8px;
        cursor: pointer;

        .image {
          background-color: $white;
          width: 100% !important;
        }

        .info {
          text-align: center;
          color: $white;
          background-color: lighten($mine-shaft-dark, 4%);
        }

        .panel-wrapper {
          display: flex;

          .panel-image {
            flex: 4;
          }

          .panel-actions {
            width: 30px;
            text-align: center;
          }

        }

      }
    }

    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
