<div class="asset-image" [ngClass]="{ 'error' : imageError === true }">
  <div class="upload" *ngIf="transfer && transfer.progress < 100"><clr-icon shape="upload" class="is-solid"> </clr-icon>{{ transfer.progress | number:'1.0-2' }}%</div>
  <div class="fetching" *ngIf="fetching"><clr-icon shape="hourglass" class="is-solid"></clr-icon></div>
  <img *ngIf="imagePath" (error)="ImageError()" [src]="imagePath" />
</div>
