@import '../../sass/mixins';
@import '../../sass/variables';

img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.upload {
  font-size: 50%;
}

.asset-image {
  background-color: $white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fetching {
  margin-top: -4px;
  color: black;
}

.error {
  background-image: url('../../../assets/asset_error.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
