<div class="m-l-10 filter-by-owner-id">
  <clr-dropdown>
    <button
      type="button"
      class="nav-icon filter-by-owner-id__icon"
      title="Filter by username"
      clrDropdownTrigger>
      <clr-icon shape="user" size="16"></clr-icon>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <div>
        <label class="dropdown-header">Created by</label>
        <button type="button"
          clrDropdownItem
          *ngFor="let owner of owners"
          (click)="setOwner(owner.id)">
            {{ owner.username }}
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
