@import "../../../../sass/variables";

.filter-by-owner-id__icon {
  color: $light-grey;
}

:host {

  .dropdown-menu {
    flex-wrap: wrap;
    display: flex;
    overflow-y: auto;
    max-height: 200px;
  }
}
