<div class="rich-text-toolbar" *ngIf="config['showToolbar']">
  <div class="rich-text-toolbar-group">
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('bold')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('bold')"
            (mousedown)="toggleFormatter($event, 'bold')"
            title="Bold" [disabled]="!config['enableToolbar']">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('italic')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('italic')"
            (mousedown)="toggleFormatter($event, 'italic')"
            title="Italic"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-italic" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('underline')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('underline')"
            (mousedown)="toggleFormatter($event, 'underline')"
            title="Underline"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-underline" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('strikeThrough')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('strikeThrough')"
            (mousedown)="toggleFormatter($event, 'strikeThrough')"
            title="Strikethrough"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-strikethrough" aria-hidden="true"></i>
    </button>
  </div>
  <div class="rich-text-toolbar-group">
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('Paragraph')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('paragraph')"
            (mousedown)="toggleFormatter($event, 'insertParagraph')"
            title="Paragraph"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-paragraph" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('Blockquote')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('blockquote')"
            (mousedown)="toggleFormatter($event, 'blockquote')"
            title="Blockquote"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('Remove Blockquote')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('removeBlockquote')"
            (mousedown)="toggleFormatter($event, 'removeBlockquote')"
            title="Remove Blockquote"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('Unordered List')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('unorderedList')"
            (mousedown)="toggleFormatter($event, 'insertUnorderedList')"
            title="Unordered List"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
    </button>
    <button type="button"
            [ngClass]="{ 'selected' : isSelected('Ordered List')}"
            class="text-editor-button"
            *ngIf="canEnableToolbarOptions('orderedList')"
            (mousedown)="toggleFormatter($event, 'insertOrderedList')"
            title="Ordered List"
            [disabled]="!config['enableToolbar']">
      <i class="fa fa-list-ol" aria-hidden="true"></i>
    </button>
  </div>

  <div class="rich-text-toolbar-group">
    <ng-content></ng-content>
  </div>

</div>
