@import '../../../../app/sass/variables';

.rich-text-toolbar {
    background-color: $mine-shaft-light;
    font-size: 0.6rem;
    padding: 0.1rem;
    height: 1.3rem;
    margin-bottom: 0.2rem;

    .rich-text-toolbar-group {
        display: inline-block;
        background-color: $mine-shaft-dark;

        .text-editor-button {
            background-color: transparent;
            padding: 0.2rem;
            min-width: 1.4rem;
            border: none;
            color: $light-grey;

          &.selected {
            color: $brand-primary;
          }

            &:hover {
                cursor: pointer;
                background-color: $black;
                transition: 0.2s ease;
            }

            &:focus,
            &.focus {
                outline: 0;
            }

            &:disabled {
                background-color: #f5f5f5;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
}
