@import "../../sass/variables";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

clr-main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.context-menu {
  width: $context-menu-width;
  flex-shrink: 0;
  flex-grow: 0;
}

.application-content {
  flex-grow: 1;
  overflow-y: auto;
}

.project-browser {
  padding-top: 16px;
  color: $white;
  width: $context-menu-width;
  text-align: center;

  &:hover,
  &.active {
    background: $black;
  }
}

.main-loader {
  p {
    display: block;
  }
}
