<drop-zone disable>
  <clr-main-container *ngIf="booted" class="noselect">
    <!-- The all notifications -->
    <flx-notifications></flx-notifications>
    <clr-header>
      <div class="header-nav">
        <a class="project-browser" [routerLinkActive]="['active']" [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }">
          <clr-icon shape="home" size="24"></clr-icon>
        </a>
        <app-project-crumbs [project]="project"></app-project-crumbs>
        <app-sequence-save></app-sequence-save>
        <test-component></test-component>
      </div>
      <div class="header-actions">
        <app-header-actions></app-header-actions>
      </div>
    </clr-header>
    <div class="content-container">
      <div class="application-content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- import modal window -->
    <app-import-modal></app-import-modal>
    <!-- The prefer]ences modal component -->
    <flix-preferences></flix-preferences>
  </clr-main-container>

  <div *ngIf="!booted && !hasError" class="main-loader">
    <span class="spinner spinner-lg spinner-inverse">Loading...</span>
  </div>

  <!-- fatal error dialog -->
  <flx-fatal-error></flx-fatal-error>

</drop-zone>
