<div class="shot-status" *ngIf="scale>=0.4" [ngStyle]="{'font-size':scale+'px'}">
    <div class="dropdown bottom-left" (click)="$event.stopPropagation(); toggleOpen()"
        [ngClass]="{'open':open}">
        <button type="button" class="button shot-status-button dropdown-toggle">
            <i class="icon shot-status-button__icon" [ngClass]="getShotStatusViewMeta(panel.shot.status,0)" aria-hidden="true"></i>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu shot-status-select" >
            <button *ngFor="let status of stati" type="button"
            class="dropdown-item shot-status-select__item"
            [ngClass]="getShotStatusViewMeta(status,0)" (click)="setShotStatus(status,panel.shot)">
            <i class="icon shot-status-select__icon" [ngClass]="getShotStatusViewMeta(status,0)" aria-hidden="true"></i>
            {{ getShotStatusViewMeta(status,1) }}
            </button>
        </div>
    </div>
</div>
