.shot-status {
    text-align: left;
    width: 100%;
    min-height: 50em;
    margin-top: 10em;
    font-size: 1px;

    .shot-status-button {
        min-height: 24em;
        margin: 0;
        &__icon {
            font-size: 36em;
        }
    }

    .shot-status-select {
        font-size: 1em;
        padding-top: 5em;
        padding-bottom: 5em;
        border: 0;
        &__item {
            font-size: 24em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            height: 1.8em;
            line-height: 1.8em;
        }
    }
}