// Use this website to generate the names for your colours
// http://chir.ag/projects/name-that-color

$black: #000;
$transparent-black: rgba($black, 0.8);
$off-black: #161616;
$light-grey: #d3d3d3;
$disabled-grey: #565656;
$white: #fff;
$swirl: #cfc8bd;
$success : #008000;

$brand-primary: #ffa500;
$btn-hover-bg: $brand-primary;
$success-font-clr : #008000;

$disabled-text-clr: $swirl;

$scorpion: #5f5f5f;
$mine-shaft-light: #323232;
$mine-shaft-lightest: lighten($mine-shaft-light, 8%);
$mine-shaft-lighter: lighten($mine-shaft-light, 4%);
$mine-shaft-dark: #262626;
$cod-gray: #1c1c1c;
$mine-shaft-darker: darken($mine-shaft-dark, 4%);

$harlequin: #3fff00;
$bright-green: $harlequin;
$pomegranate: #ef3939;
$red: $pomegranate;
$error-color: #c92100;

$emporer: #545454;
