@import './colors';
@import './variables';

@mixin panel-card {
  border: 2px solid transparent;
  display: flex;
  margin: 0;
  position: relative;
}

@mixin panel-id {
  font-size: 0.5rem;
  color: $white;
}

@mixin panel-index {
  color: lighten($mine-shaft-dark, 30%);
  font-size: 0.4rem;
}

@mixin dialogue-panel-card {
  border: 2px solid transparent;
  margin: 0;
  position: relative;
}

@mixin panel-image {
  width: 100%;
  background-color: lighten($mine-shaft-light, 4%);
  font-size: $default-font-size;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
}

@mixin icon-badge($size, $background-color, $font-color: $white) {
  background-color: $background-color;
  padding: 0 3px;
  color: $font-color;
  font-weight: bold;
  border-radius: $default-border-radius * 4;
  height: $size;
  width: $size;
  display: block;
  line-height: 1.6rem;
  margin: 0 auto;
  text-align: center;
  @if $size == 18px {
    line-height: 1.5rem;
    font-weight: bolder;
  }

  clr-icon {
    vertical-align: text-top;
  }
}

@mixin toolbar-button {
  position: relative;

  button {
    background: none;
    border: 0;
    color: $swirl;
    position: relative;
    display: inline-block;
    padding: 0 0 0 0.2rem;
    line-height: 2rem;
    height: 2rem;
    min-width: 2rem;
    cursor: pointer;

    clr-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &.selected {
      background-color: $black;
      color: $white;
    }
    &[disabled] {
      color: $scorpion;
      cursor: initial;
      &:hover {
        color: $scorpion;
        background-color: transparent;
      }
    }
  }
}
