@import 'colors';

$context-menu-width: 68px;

// widths, margins and padding
$default-border: 0.1rem solid $mine-shaft-dark;
$default-border-radius: 5px;
$default-padding: 0.2rem;
$default-box-shadow: 1px 2px 6px 0px $black;
$default-panel-size: 150; // does not include 10px padding, real panel width is $default-panel-width+20
$large-panel-size: 250;
$default-panel-height: 168;

// font sizes
$default-font-size: 1rem;

// gutters
$default-gutter-width: 1.5rem;
