@import '../../sass/mixins';
@import '../../sass/variables';

.pop-panel-content {
  position: absolute;
  border: 2px solid $mine-shaft-darker;
  top: 0;
  background-color: $mine-shaft-light;
  z-index: 1000;
}
