@import '../../sass/mixins';
@import '../../sass/variables';

.revision-menu {
  position: fixed;
  width: 450px;
  height: 300px;
  border: 2px solid $mine-shaft-darker;
  top: 0;
  left: 0;
  background-color: $mine-shaft-light;
  z-index: 1000;
  overflow-y: scroll;
}
