<div class="pop-panel-content"
  *ngIf="showPanel"
  [style.top]="getY()"
  [style.left]="popupPosition === 'left' ? 0 : null"
  [style.right]="popupPosition === 'right' ? 0 : null"
  (OutsideClick)="close($event)">
  <ng-container [ngTemplateOutlet]="template"></ng-container>
</div>
