/* You can add global styles to this file, and also import other style files */
$fa-font-path: '~font-awesome/fonts';

// dragula drop and drop css
@import '~dragula/dist/dragula.min.css';

// Flix theme SCSS
@import '~@clr/icons/clr-icons.min.css';
@import '~font-awesome/scss/font-awesome';
@import 'app/sass/variables';
@import 'app/sass/theme/flix';
@import 'app/sass/mixins';
@import 'app/sass/spacing-helpers';
@import 'app/sass/helpers';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*:focus {
  outline: none!important;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: $mine-shaft-dark;
}

a {
  cursor: pointer;
}

app-projects-browser {
  display: flex;
  width: 100%;
  height: 100%;
}

/** Smaller button for use in data grids */
.btn-grid {
  margin: 0;
}

.btn-brand {
  background-color: $brand-primary;
  color: $mine-shaft-dark;
  border-color: $mine-shaft-light;

  &:hover:enabled {
    background-color: lighten($brand-primary, 10%);
    color: darken($mine-shaft-dark, 10%);
  }
}

.tooltip {
  &.tooltip-bottom-right > .tooltip-content,
  &.tooltip-bottom-left > .tooltip-content {
    font-size: 11px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
  }
}

.super {
  vertical-align: super;
  font-size: 0.4rem;
}

.right,
.float-right {
  float: right;
}

.icon-badge-success,
.icon-badge-added {
  @include icon-badge(18px, $success-font-clr);
}

.icon-badge-deleted {
  @include icon-badge(18px, $pomegranate);
}


.ui.three.steps {
  .step .title {
    margin-left: 8px;
  }
}

.main-loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flix-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .page-header {
    max-height: 50px;

    h3 {
      margin-top: 8px;
    }

    .btn-group {
      float: right;
    }
  }

  .content {
    flex: 1;
    overflow: hidden;
  }
}

.flix-container-padded {
  padding: 20px;
}

.btn {
  border-color: $black;

  &:disabled {
    border-color: $black;
    color: rgba($swirl, 0.4);
    opacity: 1;
  }
}

.form-message-wrapper {
  min-height: 40px;
  display: block;

  .alert {
    margin-top: 0;
  }
}

//----- Third party Library overrides -----//

// these styles are only needed due to an out-dated version
// of angular-split ie. you cannot change the gutter colour in v0.2.x
split-area {
  position: relative;
}

split-gutter {
  background-color: $mine-shaft-darker !important;
}

select option {
  background: $transparent-black;
  outline: none;
  border: 1px solid $black;
}

// increases the size of number input arrow buttons
input[type=number]::-webkit-inner-spin-button {
  font-size: 250%;
}

// Override the datagrid placeholder when no results
// as the icon don't look too good with our theme
.datagrid-placeholder.datagrid-empty {
  .datagrid-placeholder-image {
    display: none;
  }
}

// Override for the datagrid loading spinner styling
.datagrid-overlay-wrapper .datagrid-spinner {
  background-color: rgba($mine-shaft-dark, 0.7);
}

// Scrollbar styling for webkit
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $mine-shaft-darker;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: $mine-shaft-lighter;
}

input[type=number]::-webkit-inner-spin-button {
  font-size: 250%;
}
