<button style="opacity:0;height:1px;width:1px;padding:0;border:0" data-test-element data-test-id="preferences" (click)="openPreferences()"> </button>
<button style="opacity:0;height:1px;width:1px;padding:0;border:0" data-test-element data-test-id="logout" (click)="logout()"> </button>
      