@import "../../sass/variables";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panels-library-browser__toolbar {
  padding: 5px 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border-bottom: solid 2px $cod-gray;
}

.panels-library-browser__collection {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.panels-library-browser__toolbar::-webkit-scrollbar {
  display: none;
}
