<!-- panels library filters -->
<div class="panels-library-browser__toolbar align-items-center">
  <app-panels-library-search
    (setLoading)="onSetLoading($event)"
    (setPanels)="onSetPanels($event)"
    (setError)="onSetError($event)"
    (setPaginationEnd)="onSetPaginationEnd($event)"
    [scrollPosition]="scrollPosition">
  </app-panels-library-search>
</div>

<!-- panels library -->
<div class="panels-library-browser__collection"
  (scroll)="onScroll($event)"
  #panelsLibrary>
  <ng-container *ngIf="panels">
    <app-panels-library-element
      *ngFor="let panel of panels; let i = index"
      [index]="i"
      [panel]="panel"
      [attr.data-id]="panel?.id">
    </app-panels-library-element>
  </ng-container>

  <!-- loading -->
  <flix-spinner [showSpinner]="loading" [type]="'spinner spinner-inline'" class="m-l-10"></flix-spinner>
</div>

<!-- initial message -->
<div *ngIf="initialState && !loading" class="m-t-10 m-r-10 m-l-10">
  Please select an episode or sequence
</div>

<!-- error -->
<clr-alert *ngIf="error" class="m-l-10 m-r-10" [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
  <div class="alert-item">
    {{ error }}
  </div>
</clr-alert>

<!-- warning -->
<clr-alert *ngIf="!initialState && !loading && !error && !panels?.length" class="m-l-10 m-r-10 "
  [clrAlertType]="'alert-warning'"
  [clrAlertClosable]="false">
  <div class="alert-item">
    No panels found
  </div>
</clr-alert>
