<canvas #annotation></canvas>
<div #annotationMenu class="btn-group-vertical">
    <div #drawButton class="btn-group-overflow" [ngClass]="{open: showBrushPalette}">
      <button class="btn" name="draw" title="Change brush size" [ngClass]="{active: drawButtonActive}"
        (mousedown)="drawHandler($event)" (mouseup)="mouseUpHandler($event)">
          <clr-icon shape="pencil" class="is-solid"></clr-icon>
          <clr-icon shape="caret down" size="10" class="caret"></clr-icon>
      </button>
      <div class="dropdown-menu" *ngIf="showBrushPalette" (mouseleave)="menuBlur($event)">
        <ion-range-slider (onChange)="changeBrushSize($event)" (onFinish)="changeBrushSizeFinish($event)" [from]="brushSize" [min]="1" [max]="15" [step]="1"></ion-range-slider>
        <div class="brush-size">
          <div class="brush-size-indicator" #brushSizeIndicator
            [ngStyle]="{'background-color': selectedColour}"></div>
        </div>
      </div>
    </div>

    <button #eraseButton class="btn" title="Eraser" [ngClass]="{active: eraseButtonActive}" (blur)="menuBlur($event)" (mousedown)="eraseHandler($event)">
      <i class="fa fa-eraser"></i>
    </button>

    <button class="btn" name="clear" (mousedown)="clearCanvas($event); removeFromRevision()" title="Clear the canvas">
      <clr-icon shape="trash" class="is-solid"></clr-icon>
    </button>

    <div class="btn-group-overflow" [ngClass]="{open: showColourPalette}">
      <button #colourButton class="btn" name="colour" title="Change brush colour" [ngStyle]="{'background-color': calculateColourInverse(selectedColour)}"
        (mousedown)="coloursHandler($event)">
        <clr-icon shape="palette" size="24" [ngStyle]="{'fill': selectedColour}"></clr-icon>
        <clr-icon shape="caret down" size="10" class="caret" [ngStyle]="{'fill': selectedColour}"></clr-icon>
      </button>
      <div class="dropdown-menu" (mouseleave)="menuBlur($event)">
        <app-colour-picker></app-colour-picker>
      </div>
    </div>
  </div>
