@import '../../sass/variables';

:host {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  margin-top: 30px;

  .colourPicker {
    display: none;
  }

  canvas {
    height: 100%;
    width: 100%;
    background: rgba($white, 0.4);
    padding: 0;
    margin: 0;
    image-rendering: pixelated;
  }

  .btn-group-vertical {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;

    & > div {
      border: 1px solid $black;

      & > {
        .btn {
          border: 0;
        }
      }
    }

    .caret {
      position: absolute;
      bottom: 0;
      right: 2px;
    }

    div:first-child {
      border-radius: 0.125rem 0.125rem 0 0;
      border-bottom: 0;
    }

    div:last-child {
      border-radius: 0 0 0.125rem 0.125rem;
      border-top: 0;
    }

    .btn-group-overflow {
      position: relative;
    }

    .dropdown-menu {
      padding: 3px 7px;
      top: 0;
      left: 100%;
      text-align: center;
    }

    .brush-size-indicator {
      width: 3px;
      height: 3px;
      border-radius: 1.5px;
    }

    .btn {
      width: 100%;
      display: block;
      margin: 0;
      border-radius: 0;
      border-bottom: 0;
      min-width: 38px;
      padding: 0 0.3rem;

      &.active {
        background-color: $black;
        color: $white;
        border: 0;
      }
    }

    .dropdown-toggle:hover {

      .dropdown-menu {
        display: inline-block;
      }
    }

    input {
      width: 100%;
    }

    input[type=range] {
      cursor: pointer;
    }

    .brush-size {
      background: $scorpion;
      height: 18px;
      width: 18px;
      margin: 0 auto;
      position: relative;

      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
    }
  }

}
